<template>
  <chat-container>
    <template #title>
      <!-- Modal Detil Sesi. Sengaja ditaruh sini soale container ini gaada defaultnya -->
      <dialog-modal :show="detailModal" @close="detailModal = false">
        <template #title>Detail Sesi Debat Ini</template>

        <template #content>
          <table class="w-full divide-y divide-gray-400">
            <tr>
              <td class="font-bold text-green-500">Nama Sesi</td>
              <td class="text-right">{{ debateSession.name }}</td>
            </tr>
            <tr>
              <td class="font-bold text-green-500">Kategori Debat</td>
              <td class="text-right">{{ debateSession.category_detail }}</td>
            </tr>
            <tr>
              <td class="font-bold text-green-500">Batas Waktu Sesi</td>
              <td class="text-right">
                <p v-if="debateSession.session_max_duration">{{ toMinuteSecondTimeString(debateSession.session_max_duration) }}</p>
                <p v-else class="italic text-gray-500">Tidak Dibatasi</p>
              </td>
            </tr>
            <tr>
              <td class="font-bold text-green-500">Batas Waktu per Respon</td>
              <td class="text-right">
                <p v-if="debateSession.response_max_duration">{{ toMinuteSecondTimeString(debateSession.response_max_duration) }}</p>
                <p v-else class="italic text-gray-500">Tidak Dibatasi</p>
              </td>
            </tr>
            <tr>
              <td class="font-bold text-green-500">Dibuat Pada</td>
              <td class="text-right">{{ translateDate(debateSession.created_at, true) }}</td>
            </tr>
          </table>
        </template>
      </dialog-modal>

      <!-- Modal untuk konfirmasi mengakhiri sesi -->
      <confirmation-modal :show="confirmationModal" @close="confirmationModal = false" :closeable="disableEndButton">
        <template #title>
          Konfirmasi untuk Mengakhiri Sesi Debat Ini
        </template>

        <template #content>
          <p>Apakah anda yakin untuk mengakhiri debat ini?</p>
          <p>Apabila anda masih memiliki respon yang ingin anda kirim, silahkan kirim terlebih dahulu.</p>
        </template>

        <template #footer>
          <basic-button color="green" @click.native="confirmationModal = false" :disabled="disableEndButton">
            <font-awesome-icon icon="times" class="mr-1" />Tidak jadi
          </basic-button>
          <basic-button color="red" @click.native="endSession()" :disabled="disableEndButton">
            <font-awesome-icon icon="check" class="mr-1" />Akhiri Sekarang
          </basic-button>
        </template>
      </confirmation-modal>

      <confirmation-modal :show="violation" :closeable="false">
        <template #title>
          Anda Memberikan Respon yang Bukan Sebuah Pertanyaan!
        </template>

        <template #content>
          <p>Karena anda melanggar peraturan, maka sesi ini berakhir secara otomatis.</p>
          <p>Sebentar lagi Anda akan dibawa ke halaman selesai.</p>
        </template>
      </confirmation-modal>

      <confirmation-modal :closeable="false" :show="timeUp.show">
        <template #title>
          {{ timeUp.cause }}
        </template>

        <template #content>
          <p>Sebentar lagi Anda akan dibawa ke halaman selesai.</p>
        </template>
      </confirmation-modal>

      <!-- Flex untuk judul -->
      <div class="stretch-flex">
        <!-- Judul -->
        <div class="text-left text-white">
          <h2 class="text-white">{{ debateSession.name }}</h2>
          <p class="text-xs font-thin">{{ debateSession.category_detail }}</p>
        </div>

        <!-- Kumpulan Tombol -->
        <div class="flex flex-wrap gap-2 justify-end">
          <!-- Tombol untuk membuka modal detil sesi -->
          <basic-button color="blue" @click.native="detailModal = true">
            <font-awesome-icon icon="info-circle" class="mr-1" />
            Info Sesi Ini
          </basic-button>

          <!-- Tombol untuk mengakhiri sesi -->
          <basic-button color="red" @click.native="confirmationModal = true">
            <font-awesome-icon icon="flag-checkered" class="mr-1" />
            Akhiri Debat
          </basic-button>
        </div>

      </div>
    </template>

    <template #sticky>
      <div class="grid grid-cols-3 gap-2">
        <sub-card icon="comments">
          <template #title v-if="window.width > 640">Jumlah Interaksi</template>
          <template #content>{{ debateSession.debate_interactions.length }}</template>
        </sub-card>

        <sub-card icon="hourglass-half">
          <template #title v-if="window.width > 640">{{ debateSession.session_max_duration ? 'Sisa ' : '' }}Waktu Sesi</template>
          <template #content>
            {{ sessionTime | prettify }}
          </template>
        </sub-card>

        <sub-card icon="user-clock">
          <template #title v-if="window.width > 640">{{ debateSession.response_max_duration ? 'Sisa ' : '' }}Waktu Respon Anda</template>
          <template #content>
            {{ responseTime | prettify }}
          </template>
        </sub-card>
      </div>
    </template>

    <template #chats>
      <template v-for="(chat, i) in debateSession.debate_interactions">
        <!-- Bubble chat untuk respon dari sistem -->
        <ingoing-chat v-if="chat.response_by === 'sys'" :key="i"  :time="getTime(chat.answered_at)">
          {{ chat.question_detail }}
        </ingoing-chat>
        <!-- Bubble chat untuk respon dari user -->
        <outgoing-chat v-else-if="chat.response_by === 'usr'" :key="i" :time="getTime(chat.answered_at)">
          {{ chat.question_detail }}
        </outgoing-chat>
      </template>
    </template>

    <template #footer>
      <div class="inline-flex gap-2 items-center w-full">
        <!-- Tombol untuk menghapus respon -->
        <div>
          <icon-button icon="eraser" color="red" @click.native="clearResponse()" :disabled="myResponse.length === 0" />
        </div>

        <!-- Kotak Teks tempat user memberi respon -->
        <div class="w-full">
          <form @submit.prevent="sendResponse()">
            <t-textarea
              max-length="500"
              v-model="myResponse"
              @keyup.ctrl.enter="sendResponse()"
              @keyup.ctrl.delete="clearResponse()"
              placeholder="Ketik jawaban anda disini..."
            />
          </form>

          <!-- Bantuan ini disembunyikan apabila lebar layar kurang dari 640 -->
          <div class="stretch-flex text-xs mt-1" v-if="window.width > 640">
            <p>
              <span class="font-bold">Jalan Pintas:</span> <code class="bg-black text-white p-1 rounded">Ctrl+Enter</code> Mengirim Respon,
              <code class="bg-black text-white p-1 rounded">Ctrl+Backspace</code>Membersihkan Kotak Respon
            </p>
            <p>{{ myResponse.length }}/500</p>
          </div>
        </div>

        <!-- Tombol kirim -->
        <div class="flex flex-col gap-2 justify-center">
          <!-- Apabila di layar kecil, jumlah karakter tampilkan disini -->
          <p class="text-xs text-center" v-if="window.width < 640">{{ myResponse.length }}/500</p>

          <icon-button :icon="sending ? 'spinner' : 'paper-plane'" color="green" size="lg" @click.native="sendResponse()" :disabled="disableSendButton" />
        </div>
      </div>
    </template>
  </chat-container>
</template>

<script>
import ChatContainer from '@/components/Layouts/ChatContainer';
import BasicButton from '@/components/Buttons/BasicButton';
import IconButton from '@/components/Buttons/IconButton';
import SubCard from '@/components/Cards/SubCard';
import IngoingChat from '@/components/Chats/IngoingChat';
import OutgoingChat from '@/components/Chats/OutgoingChat';
import DialogModal from '@/components/Modal/DialogModal';
import ConfirmationModal from '@/components/Modal/ConfirmationModal';

export default {
  name: 'DebateRoom',
  components: {
    ConfirmationModal,
    DialogModal,
    OutgoingChat,
    IngoingChat,
    SubCard,
    IconButton,
    BasicButton,
    ChatContainer,
  },
  data() {
    return {
      window: {
        width: 0,
        height: 0,
      },
      detailModal: false,
      confirmationModal: false,
      debateSession: {
        id: 0,
        url: '',
        name: '',
        user: 0,
        category: 0,
        category_detail: '',
        session_max_duration: 0,
        response_max_duration: 0,
        debate_interactions: [],
        created_at: '',
      },
      violation: false,
      myResponse: '',
      fetchError: {
        message: '',
        errorMessage: '',
        display: false,
        type: '',
      },
      sending: false,
      loading: false,
      sessionTimer: {
        isRunning: false,
        time: 0,
        theTimer: null,
      },
      responseTimer: {
        isRunning: false,
        time: 0,
        theTimer: null,
      },
      isTimerNull: {
        response: false,
        session: false,
      },
      timeUp: {
        show: false,
        cause: '',
      },
      disableEndButton: false,
    };
  },
  computed: {
    disableSendButton() {
      if (this.myResponse.length === 0) return true;
      return this.sending;
    },
    sessionTime() {
      const time = this.sessionTimer.time / 60;
      // eslint-disable-next-line radix
      const minutes = parseInt(time);
      const seconds = Math.round((time - minutes) * 60);
      return `${minutes}:${seconds}`;
    },
    responseTime() {
      const time = this.responseTimer.time / 60;
      // eslint-disable-next-line radix
      const minutes = parseInt(time);
      const seconds = Math.round((time - minutes) * 60);
      return `${minutes}:${seconds}`;
    },
  },
  methods: {
    getThisSessionChats() {
      const id = this.$store.state.debateSessionId;
      this.loading = true;
      this.$axios.get(`/debote/sessions/${id}/`)
        .then((res) => {
          this.loading = false;
          this.debateSession = res.data;
          this.setResponseTimer(res.data.response_max_duration);
          if (this.debateSession.session_max_duration === 0 || !this.debateSession.session_max_duration) {
            this.isTimerNull.session = true;
            this.setSessionTimer(0);
          } else {
            this.setSessionTimer(res.data.session_max_duration);
          }
          if (this.debateSession.response_max_duration === 0 || !this.debateSession.response_max_duration) {
            this.isTimerNull.response = true;
            this.setResponseTimer(0);
          } else {
            this.setResponseTimer(res.data.response_max_duration);
          }
          this.sessionTimerStart();
          this.responseTimerStart();
        })
        .catch((e) => {
          this.loading = false;
          this.fetchError = {
            message: `Gagal dalam menambahkan pertanyaan baru di Kategori ${this.onDisplay.category}!`,
            errorMessage: this.filterErrorMessage(e),
            display: true,
            type: 'createQuestion',
          };
        });
    },
    getTime(timestamp) {
      const result = new Date(timestamp);
      return `${(`0${result.getHours()}`).slice(-2)}.${(`0${result.getMinutes()}`).slice(-2)}.${(`0${result.getSeconds()}`).slice(-2)} ${result.getDate()}/${result.getMonth()}/${result.getFullYear()}`;
    },
    clearResponse() {
      this.myResponse = '';
    },
    isInterrogative(text) {
      text.replace(/[^\w\s]|_/g, '').replace(/\s+/g, ' ');
      const text2 = text.toLowerCase();
      if (text2.includes('?')) return true;
      const questionMark = [
        'apa', 'apakah',
        'siapa', 'siapakah',
        'kenapa', 'mengapa',
        'bagaimana',
        'dimana',
        'berapa',
        'bukankah',
        'maukah',
        'bisakah',
        'adakah',
      ];
      for (let i = 0; i < questionMark.length; i += 1) {
        const mark = questionMark[i];
        if (text2.includes(mark)) return true;
      }
      return false;
    },
    sendResponse() {
      console.log('trigger send()');
      if (!this.isInterrogative(this.myResponse)) {
        this.violation = true;
        setInterval(() => {
          this.endSession();
        }, 3000);
        return;
      }
      this.$nprogress.start();
      const id = this.$store.state.debateSessionId;
      this.sending = true;
      // Submit Pertanyaan ke database
      this.$axios.post('/debote/questions/', {
        category: this.debateSession.category,
        question: this.myResponse,
      })
        // Apabila submit pertanyaan berhasil
        .then((res) => {
          // Submit interaksi dari user dengan append id pertanyaan yang baru saja ditambahkan
          this.$axios.post('/debote/interactions/', {
            debate_session: id,
            response_by: 'usr',
            question: res.data.id,
            category: this.debateSession.category,
          })
            // Apabila berhasil submit interaksi user
            .then((sysRes) => {
              this.debateSession.debate_interactions.push(sysRes.data.usrResponse);
              const rndInt = Math.floor(Math.random() * sysRes.data.result.length) + 1;
              const selectedAnswer = sysRes.data.result[rndInt - 1];
              // Submit interaksi dari sys
              this.$axios.post('/debote/interactions/', {
                debate_session: id,
                response_by: 'sys',
                question: selectedAnswer.id,
                category: this.debateSession.category,
                confidence: selectedAnswer.confidence_percentage,
              })
                .then((sysRep) => {
                  this.$nprogress.done();
                  this.debateSession.debate_interactions.push(sysRep.data);
                  this.myResponse = '';
                  this.responseTimerRestart();
                  this.sending = false;
                })
                .catch((e) => {
                  this.$nprogress.done();
                  this.sending = false;
                  this.responseTimerRestart();
                  this.fetchError = {
                    message: 'Gagal menambah respon anda (namun pertanyaan anda sudah berhasil terkirim)!',
                    errorMessage: this.filterErrorMessage(e),
                    display: true,
                    type: 'createQuestion',
                  };
                });
            })
            // Apabila gagal submit interaksi user
            .catch((e) => {
              this.$nprogress.done();
              this.sending = false;
              this.fetchError = {
                message: 'Gagal menambah respon anda (namun pertanyaan anda sudah berhasil terkirim)!',
                errorMessage: this.filterErrorMessage(e),
                display: true,
                type: 'createQuestion',
              };
            });
        })
        // Apabila submit pertanyaan gagal
        .catch((e) => {
          this.$nprogress.done();
          this.sending = false;
          this.fetchError = {
            message: 'Gagal mengirim respon anda!',
            errorMessage: this.filterErrorMessage(e),
            display: true,
            type: 'createQuestion',
          };
        });
    },
    endSession() {
      this.disableEndButton = true;
      const id = this.$store.state.debateSessionId;
      const currentTime = new Date();
      this.$axios.patch(`/debote/sessions/${id}/`, {
        finished_at: currentTime.toISOString(),
      })
        .then(() => {
          this.$axios.post('/debote/train/', {
            category_id: this.debateSession.category,
          }).then(() => {
            this.$nprogress.done();
            this.$router.push(`/debate/history/${id}`);
          }).catch((e) => {
            this.$nprogress.done();
            this.fetchError = {
              message: 'Gagal dalam merubah kategori!',
              errorMessage: this.filterErrorMessage(e),
              display: true,
              type: 'editCategory',
            };
          });
        })
        .catch((e) => {
          this.loading = false;
          this.fetchError = {
            message: 'Gagal dalam mengakhiri sesi!',
            errorMessage: this.filterErrorMessage(e),
            display: true,
            type: 'createQuestion',
          };
        });
      this.$store.commit('removeDebateSessionId');
    },
    handleResize() {
      this.window.width = window.innerWidth;
      this.window.height = window.innerHeight;
    },
    // Timer related things
    sessionTimerStart() {
      this.sessionTimer.isRunning = true;
      // Jika timer belum di set
      if (!this.sessionTimer.timer) {
        // Lakukan perhitungan timer setiap 1 detik
        this.sessionTimer.timer = setInterval(() => {
          if (this.sessionTimer.time > 0 || this.isTimerNull.session) {
            // Jika timer diatas 0 atau timer memang tidak di setting

            // Lakukan konfigurasi, waktu apakah harus ditambah atau dikurang
            const control = (this.isTimerNull.session) ? 1 : -1;

            // Rubah nilai waktu
            this.sessionTimer.time += (1 * control);
          } else {
            // Jika timer habis
            // FYI: Jika timer tidak di setting, maka waktu akan selalu bertambah dan tidak akan pernah masuk ke sini

            clearInterval(this.sessionTimer.timer);
            this.sessionTimerStop();
            this.responseTimerStop();
            this.timeUp.cause = 'Waktu Sesi Habis!';
            this.timeUp.show = true;
            this.endSession();
          }
        }, 1000);
      }
    },
    sessionTimerStop() {
      this.sessionTimer.isRunning = false;
      clearInterval(this.sessionTimer.timer);
      this.sessionTimer.timer = null;
    },
    setSessionTimer(second) {
      this.sessionTimer.time = second;
    },
    responseTimerStart() {
      this.responseTimer.isRunning = true;
      // Jika timer belum di set
      if (!this.responseTimer.timer) {
        // Lakukan perhitungan timer setiap 1 detik
        this.responseTimer.timer = setInterval(() => {
          if (this.responseTimer.time > 0 || this.isTimerNull.response) {
            // Jika timer diatas 0 atau timer memang tidak di setting

            // Lakukan konfigurasi, waktu apakah harus ditambah atau dikurang
            const control = (this.isTimerNull.response) ? 1 : -1;

            // Rubah nilai waktu
            this.responseTimer.time += (1 * control);
          } else {
            // Jika timer habis
            // FYI: Jika timer tidak di setting, maka waktu akan selalu bertambah dan tidak akan pernah masuk ke sini

            clearInterval(this.responseTimer.timer);
            this.sessionTimerStop();
            this.responseTimerStop();
            this.timeUp.cause = 'Waktu Respon Anda Habis!';
            this.timeUp.show = true;
            this.endSession();
          }
        }, 1000);
      }
    },
    responseTimerStop() {
      this.responseTimer.isRunning = false;
      clearInterval(this.responseTimer.timer);
      this.responseTimer.timer = null;
    },
    responseTimerReset() {
      this.responseTimerStop();
      this.setResponseTimer(this.debateSession.response_max_duration);
    },
    responseTimerRestart() {
      this.responseTimerReset();
      this.responseTimerStart();
    },
    setResponseTimer(second) {
      this.responseTimer.time = second;
    },
  },
  filters: {
    // Untuk membuat tampilan ada 0 nya apabila tinggal satuan
    prettify(value) {
      const data = value.split(':');
      let minutes = data[0];
      let seconds = data[1];
      if (minutes < 10) {
        minutes = `0${minutes}`;
      }
      if (seconds < 10) {
        seconds = `0${seconds}`;
      }
      return `${minutes}:${seconds}`;
    },
  },
  created() {
    if (this.$store.state.debateSessionId === null) {
      this.$router.push('/dashboard');
    }
    window.addEventListener('resize', this.handleResize);
    this.handleResize();
    this.debateSession = {
      debate_interactions: [],
    };
    this.getThisSessionChats();
  },
  destroyed() {
    window.removeEventListener('resize', this.handleResize);
  },
};
</script>

<style scoped>

</style>
