<template>
  <div class="relative inline-flex rounded-md shadow-sm">
    <button :form="form" :type="type" :disabled="disabled" class="px-4 py-2 active:bg-blue-300 focus:border-gray-300" :class="colorSet">
      <slot />
    </button>
    <span class="flex absolute h-4 w-4 top-0 right-0 -mt-1.5 -mr-1.5" v-if="withNotification">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-yellow-600 opacity-75"></span>
      <span class="relative inline-flex rounded-full h-4 w-4 bg-yellow-500"></span>
    </span>
  </div>
</template>

<script>
export default {
  name: 'BasicButton',
  props: {
    form: String,
    type: {
      type: String,
      default: 'button',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    color: {
      type: String,
      default: 'blue',
    },
    withNotification: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    colorSet() {
      switch (this.color) {
        case 'red':
          return 'bg-red-600 hover:bg-red-400 focus:ring-red-300 active:bg-red-900 focus:border-red-700';
        case 'white':
          return 'bg-white border-gray-300 text-gray-700 hover:text-gray-500 hover:bg-green-200 focus:border-blue-300 focus:ring-blue-200 active:text-gray-800 active:bg-gray-50';
        case 'blue':
          return 'bg-indigo-600 hover:bg-indigo-400 focus:ring-indigo-300 active:bg-indigo-900 focus:border-indigo-700';
        case 'green':
          return 'bg-green-600 hover:bg-green-400 focus:ring-green-300 active:bg-green-900 focus:border-green-700';
        default:
          return this.color;
      }
    },
  },
};
</script>

<style scoped>

</style>
