<template>
  <button :form="form" :type="type" :disabled="disabled"
          class="w-full justify-center p-2"
          :class="colorSet">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'ExpandedButton',
  props: {
    form: String,
    type: {
      type: String,
      default: 'button',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    color: {
      type: String,
      default: 'blue',
    },
  },
  computed: {
    colorSet() {
      switch (this.color) {
        case 'red':
          return 'bg-red-600 hover:bg-red-400 focus:ring-red-300 active:bg-red-900 focus:border-red-700';
        case 'white':
          return 'bg-white border-gray-300 text-gray-700 hover:text-gray-500 hover:bg-green-200 focus:border-blue-300 focus:ring-blue-200 active:text-gray-800 active:bg-gray-50';
        case 'blue':
          return 'bg-indigo-600 hover:bg-indigo-400 focus:ring-indigo-300 active:bg-indigo-900 focus:border-indigo-700';
        case 'green':
          return 'bg-green-600 hover:bg-green-400 focus:ring-green-300 active:bg-green-900 focus:border-green-700';
        default:
          return this.color;
      }
    },
  },
};
</script>

<style scoped>

</style>
