<template>
  <div class="rounded-lg p-2 text-light-dark w-full" :class="colorType">
    <slot/>
  </div>
</template>

<script>
export default {
  name: 'BasicCard', // Basic card, no header
  props: {
    color: {
      type: String,
      default: 'normal',
    },
  },
  computed: {
    colorType() {
      switch (this.color) {
        case 'normal':
          return 'bg-white dark:bg-gray-800';
        case 'sub':
          return 'bg-gray-100 dark:bg-gray-700';
        default:
          return this.color;
      }
    },
  },
};
</script>

<style scoped>

</style>
