<template>
  <div class="rounded-lg bg-white dark:bg-gray-800 flex-1 justify-between flex flex-col max-h-screen text-light-dark w-full">
    <div class="rounded-t-lg bg-green-500 font-extrabold text-lg py-1 px-2 text-white">
      <slot name="title"/>
    </div>
    <div class="flex flex-col px-2 overflow-y-auto" v-chat-scroll="{smooth: true}">
      <div class="border-b border-gray-400 text-gray-400 text-xs italic text-center py-2 mb-2">
        Awal dari Debat...
      </div>
      <slot name="chats"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ChatCard', // Container for chat in history
};
</script>

<style scoped>

</style>
