<template>
  <div class="rounded-lg py-1 px-2 text-white text-sm" :class="color">
    <span class="font-semibold">
      <slot/>
    </span>
    <font-awesome-icon :icon="icon" class="ml-2"/>
  </div>
</template>

<script>
export default {
  name: 'CountCard',
  props: {
    icon: {
      type: String,
      default: 'boxes',
    },
    color: {
      type: String,
      default: 'bg-blue-800',
    },
  },
};
</script>

<style scoped>

</style>
