<template>
  <div class="p-2 text-white flex flex-row gap-2 rounded-lg items-center" :class="colorType">
    <font-awesome-icon :icon="icon" :size="size"></font-awesome-icon>
    <div class="text-sm w-full">
      <slot/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IconCard',
  props: {
    color: {
      type: String,
      default: 'green',
    },
    icon: {
      type: String,
      default: 'clock',
    },
    size: {
      type: String,
      default: '2x',
    },
  },
  computed: {
    colorType() {
      switch (this.color) {
        case 'red':
          return 'bg-red-600';
        case 'green':
          return 'bg-green-600';
        case 'black':
          return 'bg-black';
        case 'gray':
          return 'bg-gray-500';
        case 'blue':
          return 'bg-blue-600';
        default:
          return this.color;
      }
    },
  },
};
</script>

<style scoped>

</style>
