<template>
  <div class="w-full sm:max-w-md p-2 bg-white dark:bg-gray-800 shadow-md overflow-hidden sm:rounded-lg">
    <slot/>
  </div>
</template>

<script>
export default {
  name: 'MediumCard',
};
</script>

<style scoped>

</style>
