<template>
  <div class="p-2 stretch-flex gap-2 text-light-dark items-center rounded-lg" :class="colorType">
    <div class="w-full">
      <p class="text-lg font-extrabold">
        <slot name="title"/>
      </p>
      <p class="text-sm">
        <slot name="content"/>
      </p>
    </div>
    <div class="flex flex-row gap-2 flex-wrap justify-end w-1/4" :class="buttonClass">
      <slot name="buttons"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'OptionCard',
  props: {
    color: {
      type: String,
      default: 'normal',
    },
    buttonClass: String,
  },
  computed: {
    colorType() {
      switch (this.color) {
        case 'active':
          return 'bg-green-700 ring-2 ring-green-400 text-white';
        case 'normal':
          return 'bg-gray-200 dark:bg-gray-700';
        case 'red':
          return 'bg-red-600';
        case 'green':
          return 'bg-green-600';
        case 'black':
          return 'bg-black';
        case 'gray':
          return 'bg-gray-500';
        case 'blue':
          return 'bg-blue-800';
        default:
          return this.color;
      }
    },
  },
};
</script>

<style scoped>
.text-super-small {
  font-size: 8pt;
}
</style>
