<template>
  <div class="py-1 px-2 rounded-lg flex flex-row justify-between gap-2 items-center" :class="color">
    <font-awesome-icon :icon="icon" :size="size" class="text-white" />
    <div class="text-right">
      <p class="text-super-small text-white">
        <slot name="title"/>
      </p>
      <p class="font-extrabold text-white">
        <slot name="content"/>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SubCard', // For sticky in chat
  props: {
    icon: {
      type: String,
      default: 'clock',
    },
    size: {
      type: String,
      default: 'lg',
    },
    color: {
      type: String,
      default: 'bg-blue-800',
    },
  },
};
</script>

<style scoped>
.text-super-small {
  font-size: 8pt;
}
</style>
