<template>
  <div class="bg-white dark:bg-gray-800 rounded-lg text-light-dark w-full" :class="maxHeight">
    <div class="rounded-t-lg bg-green-500 font-extrabold text-lg py-1 px-2 stretch-flex">
      <div class="flex flex-row items-center text-white">
        <font-awesome-icon :icon="icon" class="mr-1"/>
        <div>
          <slot name="title"/>
        </div>
      </div>
      <div class="inline-flex gap-1 items-center">
        <slot name="buttons"/>
      </div>
    </div>
    <div class="p-2" :class="{'max-h-96 overflow-y-auto' : maxHeight}">
      <slot/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TitleCard', // Basic card with header
  props: {
    icon: {
      type: String,
      required: true,
    },
    maxHeight: {
      type: String,
    },
  },
};
</script>

<style scoped>

</style>
