<template>
  <div class="pb-2">
    <div class="bg-gray-900 rounded-r-lg rounded-tl-lg p-2 text-white w-max chat-limit break-words text-sm justify-self-end">
      <slot/>
    </div>
    <div class="mt-1 italic text-gray-400 text-xs">{{ confidence ? `${confidence} - ` : '' }}{{ time }}</div>
  </div>
</template>

<script>
export default {
  name: 'IngoingChat',
  props: {
    time: {
      type: String,
    },
    confidence: [Number, String],
  },
};
</script>

<style scoped>
.chat-limit {
  max-width: 85%;
}
</style>
