<template>
  <div class="pb-2 flex flex-col items-end justify-end text-right">
    <div
      class="bg-green-800 rounded-l-lg rounded-tr-lg p-2 text-white w-max chat-limit break-words text-sm justify-self-end">
      <slot/>
    </div>
    <div class="mt-1 italic text-gray-400 text-xs">
      <div v-if="isSending">
        Mengirim... <font-awesome-icon icon="clock" class="ml-1" />
      </div>
      <p v-else>{{ time }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'OutgoingChat',
  props: {
    time: {
      type: String,
    },
    isSending: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped>
.chat-limit {
  max-width: 85%;
}
</style>
