@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-green-500 font-extrabold text-2xl;
    }

    h2 {
        @apply text-green-500 font-extrabold text-xl;
    }

    h3 {
        @apply text-green-500 font-extrabold text-lg;
    }

    p span {
        @apply text-black dark:text-white;
    }

    /*input {*/
    /*    @apply mt-1 block w-full focus:border-green-300 focus:ring-green-200 rounded-md shadow-sm p-1.5 placeholder-gray-500 placeholder-opacity-50 text-black dark:text-white focus:ring focus:ring-opacity-50 disabled:bg-gray-300 dark:disabled:bg-gray-500 disabled:cursor-not-allowed;*/
    /*}*/

    button {
        @apply inline-flex items-center border border-transparent rounded-md font-semibold text-sm text-white focus:outline-none transition ease-in-out duration-150 focus:ring-2 focus:ring-opacity-30 disabled:opacity-40 disabled:cursor-not-allowed;
    }
}

@layer components {
    .text-light-dark {
        @apply text-black dark:text-white;
    }

    .sub-text {
        @apply text-gray-400 italic font-light italic;
    }

    .disabled-basic {
        @apply disabled:opacity-40 disabled:cursor-not-allowed;
    }

    .stretch-flex {
        @apply flex flex-row justify-between items-center;
    }

    .stretch-flex-responsive {
        @apply flex lg:flex-row sm:flex-col justify-between items-center;
    }

    .list-grid {
        @apply grid grid-cols-1 gap-2;
    }

    .divide-grid {
        @apply grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-2;
    }
}
