<template>
  <normal-layout>
    <template #title>Riwayat Debat Semua Pengguna</template>
    <!-- Menampilkan pesan sukses -->
    <icon-card color="blue" v-if="fetchSuccess.display" icon="check">
      <div class="stretch-flex">
        <div>
          {{ fetchSuccess.message }}
        </div>
        <div>
          <basic-button color="green" @click.native="fetchSuccess.display = false">
            <font-awesome-icon icon="times" class="mr-1" /> Tutup
          </basic-button>
        </div>
      </div>
    </icon-card>

    <!-- Menampilkan error yang terjadi ketika menggunakan axios -->
    <axios-display-errors :errors="fetchError.errorMessage" v-if="fetchError.display" :message="fetchError.message" />

    <!-- Konten Utama -->
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-2 mt-2">
      <title-card icon="user">
        <template #title>Nama Pengguna</template>

        <!-- Apabila sistem masih loading data dari server -->
        <loading v-if="loading.users" />

        <!-- Tombol untuk refresh data ketika error fetch kategori terjadi -->
        <basic-button color="green" @click.native="fetchUsers()" v-if="errorFetchUser">
          <font-awesome-icon icon="redo-alt" class="mr-1" /> Ulangi
        </basic-button>

        <!-- Apabila daftar kategori kosong -->
        <icon-card v-if="!errorFetchUser && users.length === 0" icon="folder-open" color="blue" size="2x">
          Tidak ada pengguna.
        </icon-card>

        <!-- Daftar semua kategori -->
        <div class="grid grid-cols-1 gap-2" v-else-if="!errorFetchUser && users.length > 0">
          <option-card v-for="(user, i) in users" :key="i" :color="user.id === onDisplay.id ? 'active' : 'normal'">
            <template #title>{{ `${user.first_name} ${user.last_name}` }} ({{ user.username }})</template>
            <template #content>{{ user.is_superuser ? 'Admin' : 'Non-Admin' }} - {{ user.debate_sessions.length }} Sesi</template>
            <template #buttons>
              <!-- Tombol untuk menampilkan detil kategori -->
              <icon-button :color="user.is_superuser ? 'red' : 'white'" :icon="user.is_superuser ? 'user' : 'user-cog'" @click.native="modifyAdminStatus(user)" />
              <icon-button color="blue" icon="eye" @click.native="setOnDisplay(i)" :disabled="onDisplay.id !== user.id"/>
            </template>
          </option-card>
        </div>
      </title-card>

      <div class="lg:col-span-3">
        <!-- Apabila user belum memilih kategori untuk ditampilkan -->
        <icon-card v-if="onDisplay.id === 0 && !loading.sessions" icon="exclamation-triangle" color="red" size="2x">
          Silahkan Pilih Salah Satu Pengguna untuk dilihat riwayatnya.
        </icon-card>

        <template v-else>
          <!-- Card for displaying Category Detail -->
          <title-card icon="comment-dots" max-height="max-h-screen">
            <!-- TODO: Judul kasih namanya -->
            <template #title>Daftar Sesi {{ (onDisplay.id !== 0) ? onDisplay.username : '' }}</template>
            <template #buttons>
              <count-card icon="comment-dots">{{ onDisplay.debate_sessions.length }}</count-card>
            </template>

            <!-- Apabila masih memproses untuk mengambil data -->
            <template #default v-if="onDisplay.id !== 0 && loading.sessions">
              <loading />
            </template>

            <!-- Apabila daftar pertanyaan kosong -->
            <template v-else-if="onDisplay.id !== 0 && !loading.sessions && onDisplay.debate_sessions.length === 0">
              <icon-card icon="folder-open" color="blue" size="2x">
                Pengguna belum pernah melakukan debat.
              </icon-card>
            </template>

            <!-- Tampilkan daftar pertanyaan -->
            <div class="grid grid-cols-1 gap-2" v-else>
              <option-card v-for="(session, i) in onDisplay.debate_sessions" :key="i" button-class="w-24">
                <template #title>{{ session.name }}</template>
                <template #content>
                  <table>
                    <tr>
                      <td>Kategori:</td>
                      <td>{{ session.category_detail }}</td>
                    </tr>
                    <tr>
                      <td>
                        <p class="mr-2">Dibuat Pada:</p>
                      </td>
                      <td>{{ translateDate(session.created_at, true) }}</td>
                    </tr>
                  </table>
                </template>
                <template #buttons>
                  <link-button color="green" :href="`/debate/history/${session.id}`">
                    <font-awesome-icon icon="eye" class="mr-1" />Lihat
                  </link-button>
                  <basic-button color="red" @click.native="confirmDeleteSession(session.id)">
                    <font-awesome-icon icon="trash-alt" class="mr-1" />Hapus
                  </basic-button>
                </template>
              </option-card>
            </div>
          </title-card>
        </template>
      </div>
    </div>

    <confirmation-modal :show="modalDeleteSession" @close="modalDeleteSession = false">
      <template #title>Konfirmasi Menghapus Sesi</template>
      <template #content>Apakah anda yakin untuk menghapus sesi? Setelah dihapus anda, pengguna, dan semua admin tidak bisa melihat riwayat sesi beserta interaksinya.</template>

      <template #footer>
        <basic-button color="green" @click.native="modalDeleteSession = false">
          <font-awesome-icon icon="times" class="mr-1" />Tidak Jadi
        </basic-button>
        <basic-button color="red" @click.native="doDeleteSession()">
          <font-awesome-icon icon="check" class="mr-1" />Iya Saya Yakin
        </basic-button>
      </template>
    </confirmation-modal>
  </normal-layout>
</template>

<script>
import IconCard from '@/components/Cards/IconCard';
import BasicButton from '@/components/Buttons/BasicButton';
import AxiosDisplayErrors from '@/components/AxiosHandling/AxiosDisplayErrors';
import NormalLayout from '@/components/Layouts/NormalLayout';
import TitleCard from '@/components/Cards/TitleCard';
import Loading from '@/components/AxiosHandling/Loading';
import OptionCard from '@/components/Cards/OptionCard';
import CountCard from '@/components/Cards/CountCard';
import IconButton from '@/components/Buttons/IconButton';
import LinkButton from '@/components/Buttons/LinkButton';
import ConfirmationModal from '@/components/Modal/ConfirmationModal';

export default {
  name: 'StudentHistory',
  components: {
    ConfirmationModal,
    LinkButton,
    IconButton,
    CountCard,
    OptionCard,
    Loading,
    TitleCard,
    NormalLayout,
    AxiosDisplayErrors,
    BasicButton,
    IconCard,
  },
  data() {
    return {
      fetchError: {
        errorMessage: {},
        display: false,
        message: '',
        type: '',
      },
      fetchSuccess: {
        message: '',
        display: false,
      },
      loading: {
        users: false,
        sessions: false,
      },
      users: [],
      onDisplay: {
        id: 0,
      },
      deleteTarget: {
        id: 0,
      },
      modalDeleteSession: false,
    };
  },
  computed: {
    errorFetchUser() {
      return this.fetchError.type === 'fetchUser' && !this.loading.users;
    },
  },
  methods: {
    fetchUsers() {
      this.$nprogress.start();
      this.loading.users = true;
      this.$axios.get('/users')
        .then((res) => {
          this.$nprogress.done();
          this.loading.users = false;
          this.users = res.data;
        })
        .catch((e) => {
          this.$nprogress.done();
          this.loading.users = false;
          console.log(e);
          this.fetchError = {
            message: 'Gagal dalam mendapatkan daftar pengguna.',
            errorMessage: '?',
            display: true,
            type: 'fetchUser',
          };
        });
    },
    setOnDisplay(u) {
      this.loading.sessions = true;
      this.onDisplay = this.users[u];
      this.loading.sessions = false;
    },
    confirmDeleteSession(session) {
      this.deleteTarget.id = session;
      this.modalDeleteSession = true;
    },
    doDeleteSession() {
      this.$nprogress.start();
      this.modalDeleteSession = false;

      this.$axios.delete(`/debote/sessions/${this.deleteTarget.id}`).then(() => {
        this.$nprogress.done();
        this.onDisplay.id = 0;
        this.fetchSuccess = {
          message: 'Sesi Telah Dihapus',
          display: true,
        };
        this.fetchUsers();
      }).catch((e) => {
        this.$nprogress.done();
        this.fetchError = {
          message: 'Gagal dalam menghapus sesi!',
          errorMessage: this.filterErrorMessage(e),
          display: true,
          type: 'createQuestion',
        };
      });
    },
    modifyAdminStatus(user) {
      this.$nprogress.start();
      console.log(user);
      this.$axios.patch(`/users/${user.id}/`, {
        is_superuser: (!user.is_superuser),
      }).then(() => {
        this.$nprogress.done();
        this.onDisplay.id = 0;
        this.fetchSuccess = {
          message: 'Role pengguna telah dirubah!',
          display: true,
        };
        this.fetchUsers();
      }).catch((e) => {
        this.$nprogress.done();
        this.fetchError = {
          message: 'Gagal dalam merubah role pengguna!',
          errorMessage: this.filterErrorMessage(e),
          display: true,
          type: 'createQuestion',
        };
      });
    },
  },
  created() {
    this.fetchUsers();
  },
};
</script>

<style scoped>

</style>
