<template>
  <div>
    <nav-bar/>

    <div class="min-h-[95vh] flex items-stretch text-white ">

      <!-- Left Side/Image Side -->
      <div class="lg:flex w-1/2 hidden bg-gray-500 bg-no-repeat bg-cover relative items-center"
           style="background-image: url(https://images.unsplash.com/photo-1605918321755-0b5ffd8a796a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80);">
        <div class="absolute bg-black opacity-60 inset-0 z-0" />
        <div class="sm:hidden md:block px-5 w-full z-10">
          <slot name="logo"/>
        </div>
      </div>

      <!-- Right Side/The Form -->
      <div class="lg:w-1/2 w-full flex items-center justify-center md:px-16 px-0 z-0"
           style="background-color: #161616;">
        <div class="absolute lg:hidden z-10 inset-0 bg-gray-500 bg-no-repeat bg-cover items-center"
             style="background-image: url(https://images.unsplash.com/photo-1605918321755-0b5ffd8a796a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80);">
          <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
        </div>
        <!-- Container for Form -->
        <div class="w-full py-6 z-20 flex flex-col sm:justify-center items-center">
          <!-- Title: Shown only in small screen wide -->
          <div class="md:hidden sm:block text-center flex flex-row justify-center">
            <slot name="logo"/>
          </div>

          <!-- Form -->
          <div class="w-full sm:max-w-md mt-6 bg-white dark:bg-gray-800 shadow-md overflow-hidden rounded-lg">
            <div class="rounded-t-lg py-1 text-center bg-green-600 font-extrabold text-white">
              <slot name="title"/>
            </div>
            <div class="p-4 ">
              <slot/>
            </div>
          </div>

          <!-- Copyright -->
          <div class="pt-4 text-center right-0 left-0 text-xs text-white">
            <p>Copyright &copy; 2021, Yudha Febri Rastuama</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import NavBar from '@/components/Navbar/NavBar';

export default {
  name: 'AuthLayout',
  components: { NavBar },
};
</script>

<style scoped>

</style>
