<template>
  <div>
    <nav-bar></nav-bar>

    <div class="flex justify-center p-2 bg-gray-100 dark:bg-gray-700">
      <slot/>
    </div>
  </div>
</template>

<script>
import NavBar from '@/components/Navbar/NavBar.vue';

export default {
  name: 'CenteredLayout',
  components: { NavBar },
};
</script>

<style scoped>

</style>
