<template>
  <div class="bg-white dark:bg-gray-800 flex-1 justify-between flex flex-col h-screen text-light-dark w-full">
    <!-- Head -->
    <div class="text-center bg-green-500 font-extrabold text-lg p-2">
      <slot name="title"/>
    </div>

    <!-- Chat section -->
    <div class="flex flex-col px-2 overflow-y-scroll h-full" v-chat-scroll="{smooth: true}">
      <!-- Sticky header -->
      <div class="my-2 p-2 bg-blue-600 rounded-lg sticky top-2 shadow-lg">
        <slot name="sticky"/>
      </div>

      <!-- Notification for first chat -->
      <div class="border-b border-gray-400 text-gray-400 text-xs italic text-center py-2 mb-2">
        Awal dari Debat...
      </div>

      <!-- Content -->
      <slot name="chats"/>
    </div>
    <div class="bg-gray-200 dark:bg-gray-900 p-2">
      <slot name="footer"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ChatContainer',
};
</script>

<style scoped>

</style>
