<template>
  <div>
    <nav-bar />

    <div class="p-2">
      <!-- Title Card -->
      <div class="stretch-flex gap-2 bg-purple-800 rounded-lg mb-2 shadow-lg p-2" v-if="!hideTitle">
        <div>
          <p class="text-white font-light text-xs">
            <slot name="above"/>
          </p>
          <p class="text-white font-extrabold text-xl">
            <slot name="title"/>
          </p>
          <p class="text-white font-light text-xs">
            <slot name="below"/>
          </p>
        </div>
        <div>
          <slot name="right-side"/>
        </div>
      </div>

      <!-- Content -->
      <slot/>

    </div>
  </div>
</template>

<script>
import NavBar from '@/components/Navbar/NavBar.vue';

export default {
  name: 'NormalLayout',
  components: { NavBar },
  props: {
    hideTitle: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped>

</style>
