<template>
  <normal-layout hide-title>
    <div class="home">
      <img alt="Vue logo" src="../assets/logo.png" class="mx-auto">
      <HelloWorld msg="Welcome to Your Vue.js App"/>
    </div>
  </normal-layout>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue';
import NormalLayout from '../components/Layouts/NormalLayout.vue';

export default {
  name: 'Home',
  components: {
    NormalLayout,
    HelloWorld,
  },
  async created() {
    this.$axios.post('/auth/jwt/refresh/', { refresh: this.$store.state.refreshToken })
      .then((res) => {
        console.log(res.data);
        this.$store.commit('setToken', {
          access: res.data.access,
        });
        this.$axios.get('/auth/users/me/')
          .then((me) => {
            const temp = me.data.id;
            this.$axios.get(`/users/${me.data.id}`)
              .then((myData) => {
                this.$store.commit('setLoggedUser', {
                  id: temp,
                  name: `${myData.data.first_name} ${myData.data.last_name}`,
                  username: myData.data.username,
                  is_superuser: myData.data.is_superuser,
                });
                this.getLoggedUserData();
              })
              .catch((e) => {
                console.log(e);
              });
          })
          .catch((e) => {
            console.log(e);
          });
      })
      .catch((e) => {
        console.log('Error in refreshToken()');
        console.log(e);
      });
  },
};
</script>
