<template>
  <modal :show="show" :max-width="maxWidth" :closeable="closeable" @close="close">
    <div class="px-6 py-4">
      <div class="stretch-flex">
        <div>
          <h2>
            <slot name="title"/>
          </h2>
          <p class="text-xs italic">
            <slot name="subtitle" />
          </p>
        </div>
        <icon-button color="red" @click.native="close"/>
      </div>

      <div class="mt-4">
        <slot name="content">
        </slot>
      </div>
    </div>

    <div class="px-6 py-4 bg-gray-100 dark:bg-gray-700 text-right flex flex-wrap justify-end gap-2">
      <slot name="footer" />
    </div>
  </modal>
</template>

<script>
import IconButton from '@/components/Buttons/IconButton.vue';
import Modal from './Modal.vue';

export default {
  components: {
    IconButton,
    Modal,
  },

  props: {
    show: {
      default: false,
    },
    maxWidth: {
      default: '2xl',
    },
    closeable: {
      default: true,
    },
  },

  methods: {
    close() {
      this.$emit('close');
    },
  },
};
</script>
