<template>
  <normal-layout>
    <template #above>Riwayat Debat</template>
    <template #title>{{ debateSession.name }}</template>
    <template #right-side>
      <div class="flex gap-2 justify-end">
        <basic-button color="red" @click.native="confirmDelete = true">
          <font-awesome-icon icon="trash-alt" class="mr-1" />Hapus
        </basic-button>
      </div>
    </template>

    <!-- Menampilkan error yang terjadi ketika menggunakan axios -->
    <axios-display-errors :errors="fetchError.errorMessage" v-if="fetchError.display" :message="fetchError.message" />

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-2">
      <div class="grid gap-2">
        <title-card icon="info-circle">
          <template #title>Detil Sesi</template>
          <table class="w-full divide-y divide-gray-400">
            <tr>
              <td class="font-bold text-green-500">Nama Sesi</td>
              <td class="text-right">{{ debateSession.name }}</td>
            </tr>
            <tr>
              <td class="font-bold text-green-500">Kategori Debat</td>
              <td class="text-right">{{ debateSession.category_detail }}</td>
            </tr>
            <tr>
              <td class="font-bold text-green-500">Batas Waktu Sesi</td>
              <td class="text-right">
                <p v-if="debateSession.session_max_duration">{{ toMinuteSecondTimeString(debateSession.session_max_duration) }}</p>
                <p v-else class="italic text-gray-500">Tidak Dibatasi</p>
              </td>
            </tr>
            <tr>
              <td class="font-bold text-green-500">Batas Waktu per Respon</td>
              <td class="text-right">
                <p v-if="debateSession.response_max_duration">{{ toMinuteSecondTimeString(debateSession.response_max_duration) }}</p>
                <p v-else class="italic text-gray-500">Tidak Dibatasi</p>
              </td>
            </tr>
            <tr>
              <td class="font-bold text-green-500">Dibuat Pada</td>
              <td class="text-right">{{ translateDate(debateSession.created_at, true) }}</td>
            </tr>
          </table>
        </title-card>
        <title-card icon="clipboard-check">
          <template #title>Statistik Anda</template>
          <table class="divide-y w-full divide-gray-400">
            <tr>
              <td class="font-bold text-green-500">Jumlah Interaksi</td>
              <td class="text-right">{{ debateSession.debate_interactions.length }} ({{ debateSession.debate_interactions.length / 2 }} dari anda)</td>
            </tr>
            <tr>
              <td class="font-bold text-green-500">Rata-Rata Waktu Respon Saya</td>
              <td class="text-right">{{ averageTime }} detik</td>
            </tr>
            <tr>
              <td class="font-bold text-green-500">Waktu Respon Terlama</td>
              <td class="text-right">{{ longestTime.time }} detik (Respon ke-{{ longestTime.number }})</td>
            </tr>
          </table>
        </title-card>
        <div class="bg-white rounded-lg text-black shadow-lg">
          <apexchart width="95%" height="300" type="line" :options="chartOptions" :series="series" ref="realtimeChart" />
        </div>
      </div>
      <div>
        <chat-card>
          <template #title>
            <font-awesome-icon icon="comments" class="mr-1" />Riwayat Interaksi
          </template>

          <template #chats>
            <template v-for="(chat, i) in debateSession.debate_interactions">
              <!-- Bubble chat untuk respon dari sistem -->
              <ingoing-chat v-if="chat.response_by === 'sys'" :key="i"  :time="getTime(chat.answered_at)" :confidence="`Similarity: ${(chat.confidence * 100).toFixed(2)}%`">
                {{ chat.question_detail }}
              </ingoing-chat>
              <!-- Bubble chat untuk respon dari user -->
              <outgoing-chat v-else-if="chat.response_by === 'usr'" :key="i" :time="getTime(chat.answered_at)">
                {{ chat.question_detail }}
              </outgoing-chat>
            </template>
          </template>
        </chat-card>
      </div>
    </div>

    <confirmation-modal :show="confirmDelete" @close="confirmDelete = false">
      <template #title>Konfirmasi Menghapus Sesi</template>
      <template #content>Apakah anda yakin untuk menghapus sesi? Setelah dihapus anda dan semua admin yang 1 grup dengan anda tidak bisa melihat riwayat sesi beserta interaksinya.</template>

      <template #footer>
        <basic-button color="green" @click.native="confirmDelete = false">
          <font-awesome-icon icon="times" class="mr-1" />Tidak Jadi
        </basic-button>
        <basic-button color="red" @click.native="doDeleteSession()">
          <font-awesome-icon icon="check" class="mr-1" />Iya Saya Yakin
        </basic-button>
      </template>
    </confirmation-modal>
  </normal-layout>
</template>

<script>
import NormalLayout from '@/components/Layouts/NormalLayout';
import BasicButton from '@/components/Buttons/BasicButton';
import AxiosDisplayErrors from '@/components/AxiosHandling/AxiosDisplayErrors';
import TitleCard from '@/components/Cards/TitleCard';
import ChatCard from '@/components/Cards/ChatCard';
import IngoingChat from '@/components/Chats/IngoingChat';
import OutgoingChat from '@/components/Chats/OutgoingChat';
import ConfirmationModal from '@/components/Modal/ConfirmationModal';

export default {
  name: 'HistoryDetail',
  title: (context) => `${context.debateSession.name} - Detil Riwayat Sesi Debat`,
  components: {
    ConfirmationModal,
    OutgoingChat,
    IngoingChat,
    ChatCard,
    TitleCard,
    AxiosDisplayErrors,
    BasicButton,
    NormalLayout,
  },
  data() {
    return {
      longestTime: {
        time: 0,
        number: 0,
      },
      averageTime: 0,
      series: [{
        name: 'Jarak waktu respon',
        data: [],
      }],
      chartOptions: {
        chart: {
          height: 350,
          type: 'line',
          dropShadow: {
            enabled: true,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2,
          },
          toolbar: {
            show: false,
          },
        },
        colors: ['#77B6EA', '#545454'],
        dataLabels: {
          enabled: true,
        },
        stroke: {
          curve: 'smooth',
        },
        title: {
          text: 'Diagram Jarak Setiap Respon Anda',
          align: 'center',
        },
        grid: {
          borderColor: '#e7e7e7',
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5,
          },
        },
        markers: {
          size: 1,
        },
        xaxis: {
          // categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],
          title: {
            text: 'Respon anda ke-n',
          },
        },
        yaxis: {
          title: {
            text: 'Waktu dalam Detik',
          },
          // min: 5,
          // max: 40,
        },
        legend: {
          position: 'top',
          horizontalAlign: 'right',
          floating: true,
          offsetY: -25,
          offsetX: -5,
        },
      },
      confirmDelete: false,
      debateSession: {
        id: 0,
        url: '',
        name: '',
        user: 0,
        category: 0,
        category_detail: '',
        session_max_duration: 0,
        response_max_duration: 0,
        debate_interactions: [],
        created_at: '',
      },
      fetchError: {
        errorMessage: {},
        display: false,
        message: '',
        type: '',
      },
      fetchSuccess: {
        message: '',
        display: false,
      },
    };
  },
  methods: {
    async getSessionDetail() {
      const sessionTarget = this.$route.params.id;
      await this.$axios.get(`/debote/sessions/${sessionTarget}`)
        .then((res) => {
          this.debateSession = {};
          this.debateSession = res.data;
          let prevTime = this.debateSession.created_at;
          const tempArr = [];
          let max = {
            number: 0,
            time: 0,
          };
          for (let i = 0; i < this.debateSession.debate_interactions.length; i += 1) {
            const iter = this.debateSession.debate_interactions[i];
            if (iter.response_by === 'usr') {
              const first = new Date(prevTime);
              const second = new Date(iter.answered_at);
              prevTime = iter.answered_at;
              const timeDiff = ((second - first) / 1000).toFixed(0);
              tempArr.push(timeDiff);
              if (parseInt(max.time, 10) < parseInt(timeDiff, 10)) {
                max = {
                  time: timeDiff,
                  number: i + 1,
                };
              }
            }
          }
          // eslint-disable-next-line radix
          this.averageTime = (tempArr.reduce((a, b) => parseInt(a) + parseInt(b), 0) / tempArr.length).toFixed(2);
          this.longestTime = max;
          this.series = [{
            name: 'Jarak waktu respon',
            data: tempArr,
          }];
        })
        .catch((e) => {
          this.fetchError = {
            message: 'Gagal dalam mengambil data debat',
            errorMessage: this.filterErrorMessage(e),
            display: true,
            type: 'firstFetch',
          };
        });
    },
    getTime(timestamp) {
      const result = new Date(timestamp);
      return `${(`0${result.getHours()}`).slice(-2)}.${(`0${result.getMinutes()}`).slice(-2)}.${(`0${result.getSeconds()}`).slice(-2)} ${result.getDate()}/${result.getMonth()}/${result.getFullYear()}`;
    },
    doDeleteSession() {
      this.$nprogress.start();

      this.$axios.delete(`/debote/sessions/${this.debateSession.id}`).then(() => {
        this.$nprogress.done();
        this.fetchSuccess = {
          message: 'Sesi Telah Dihapus',
          display: true,
        };
        this.$router.push('/dashboard');
      }).catch((e) => {
        this.$nprogress.done();
        this.fetchError = {
          message: 'Gagal dalam menghapus sesi!',
          errorMessage: this.filterErrorMessage(e),
          display: true,
          type: 'createQuestion',
        };
      });
    },
  },
  created() {
    this.getSessionDetail();
  },
};
</script>

<style scoped>

</style>
