<template>
  <div>
    <button type="submit" class="block w-full px-4 py-2 text-sm leading-5 text-gray-700 dark:text-white text-left hover:bg-green-400 hover:text-white focus:text-white focus:outline-none focus:bg-green-600 transition duration-150 ease-in-out" v-if="as === 'button'">
      <slot />
    </button>

    <router-link :to="href" class="block px-4 py-2 text-sm leading-5 text-gray-700 dark:text-white hover:bg-green-400 hover:text-white focus:text-white focus:outline-none focus:bg-green-600 transition duration-150 ease-in-out" v-else>
      <slot />
    </router-link>
  </div>
</template>

<script>
export default {
  props: ['href', 'as'],
};
</script>
