<template>
  <nav class="bg-white dark:bg-gray-900 border-b border-gray-100 dark:border-gray-800 shadow-lg">
    <!-- Primary Navigation Menu -->
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16">
        <div class="flex justify-between w-full">
          <nav-link href="/">
            <p class="font-extrabold text-2xl text-green-500">DebOte</p>
          </nav-link>
        </div>

        <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
          <template v-if="!$store.getters.loggedIn" >
            <nav-link href="/login" :active="routeIsActive('Login')">
              Login
            </nav-link>

            <nav-link href="/register" :active="routeIsActive('Register')">
              Register
            </nav-link>
          </template>

          <!-- Settings Dropdown -->
          <template v-else>
            <nav-link href="/dashboard" :active="routeIsActive('StudentHome')">
              Debat
            </nav-link>

            <nav-link href="/admin" :active="routeIsActive('AdminHome')" v-if="amIAdmin">
              Admin
            </nav-link>

            <div class="self-center">
              <dropdown align="right" width="48">
                <template #trigger>
                  <span class="inline-flex rounded-md">
                    <button type="button"
                            class="max-w-md overflow-ellipsis inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white dark:bg-gray-900 dark:text-white hover:text-gray-700 dark:hover:text-white focus:outline-none transition ease-in-out duration-150">
                      {{ shortenName }}

                      <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                           viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                              clip-rule="evenodd"/>
                      </svg>
                    </button>
                  </span>
                </template>

                <template #content>
                  <!-- Account Management -->
                  <div class="block px-4 py-2 text-xs text-gray-400">
                    Manage Account
                  </div>

                  <dropdown-link href="/login">
                    Profile
                  </dropdown-link>

                  <!-- Authentication -->
                  <dropdown-link href="/logout">
                      Logout
                  </dropdown-link>
                </template>
              </dropdown>
            </div>
          </template>
        </div>

        <!-- Hamburger -->
        <div class="-mr-2 flex items-center sm:hidden">
          <button @click="showingNavigationDropdown = ! showingNavigationDropdown"
                  class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 dark:text-white hover:text-gray-500 dark:hover:text-green-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:bg-gray-100 dark:focus:bg-gray-800 dark:focus:text-white focus:text-gray-500 transition duration-150 ease-in-out">
            <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path :class="{'hidden': showingNavigationDropdown, 'inline-flex': ! showingNavigationDropdown }"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
              <path :class="{'hidden': ! showingNavigationDropdown, 'inline-flex': showingNavigationDropdown }"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Responsive Navigation Menu -->
    <div :class="{'block': showingNavigationDropdown, 'hidden': ! showingNavigationDropdown}" class="sm:hidden">
      <template v-if="$store.getters.loggedIn">
        <div class="pt-2 pb-3 space-y-1">
          <responsive-nav-link href="/dashboard" :active="routeIsActive('StudentHome')">
            Debat
          </responsive-nav-link>

          <responsive-nav-link href="/admin" :active="routeIsActive('AdminHome')" v-if="amIAdmin">
            Admin
          </responsive-nav-link>

          <!-- Responsive Settings Options -->
          <div class="pt-4 pb-1 border-t border-gray-200">
            <div class="flex items-center px-4">
              <div>
                <div class="font-medium text-base text-gray-800">
                  {{ $store.state.loggedUser.name }}
                </div>
                <div class="font-medium text-sm text-gray-500">
                  {{ $store.state.loggedUser.email }}
                </div>
              </div>
            </div>

            <div class="mt-3 space-y-1">
              <responsive-nav-link href="/">
                Profile
              </responsive-nav-link>

              <!-- Authentication -->
              <responsive-nav-link href="/logout">
                Logout
              </responsive-nav-link>
            </div>
          </div>
        </div>
      </template>
      <template v-else>
        <div class="space-y-1">
          <responsive-nav-link href="/login" :active="routeIsActive('Login')">
            Login
          </responsive-nav-link>
          <responsive-nav-link href="/about" :active="routeIsActive('Register')">
            Register
          </responsive-nav-link>
        </div>
      </template>
    </div>
  </nav>
</template>

<script>
import NavLink from '@/components/Navbar/NavLink.vue';
import ResponsiveNavLink from '@/components/Navbar/ResponsiveNavLink.vue';
import DropdownLink from '@/components/Navbar/DropdownLink.vue';
import Dropdown from '@/components/Navbar/Dropdown.vue';

export default {
  name: 'NavBar',
  components: {
    Dropdown, DropdownLink, ResponsiveNavLink, NavLink,
  },
  data() {
    return {
      showingNavigationDropdown: false,
    };
  },
  computed: {
    amIAdmin() {
      return this.$store.state.loggedUser.is_superuser;
    },
    shortenName() {
      const x = this.$store.state.loggedUser.username;
      if (x.length > 20) {
        return `${x.substr(0, 20)}...`;
      }
      return x;
    },
  },
  methods: {
    routeIsActive(routeName) {
      const current = this.$route.name;
      return routeName === current;
    },
  },
};
</script>

<style scoped>

</style>
