<template>
  <div>
    <button :class="classes" class="w-full text-left" v-if="as === 'button'">
      <slot></slot>
    </button>

    <router-link :to="href" :class="classes" v-else>
      <slot></slot>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'ResponsiveNavLink',
  props: ['active', 'href', 'as'],
  computed: {
    classes() {
      return this.active
        ? 'block pl-3 pr-4 py-2 border-l-4 border-green-400 text-base font-medium text-white bg-green-500 focus:outline-none focus:text-green-800 focus:bg-green-100 focus:border-green-700 transition duration-150 ease-in-out'
        : 'block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-50 hover:border-gray-300 focus:outline-none focus:text-gray-800 focus:bg-gray-50 focus:border-gray-300 transition duration-150 ease-in-out';
    },
  },
};
</script>
