<template>
  <normal-layout>
    <template #title>{{ greeting() }}, {{ $store.state.loggedUser.name }}</template>
    <template #below>Selamat Datang di Debote!</template>

    <div class="my-4 flex flex-col gap-2">
      <basic-card>
        <div class="stretch-flex">
          <div class="inline-flex gap-2 items-center">
            <div>
              <font-awesome-icon icon="history" size="3x" fixed-width />
            </div>
            <div>
              <h2>Daftar Pengguna dan Sesi Debatnya</h2>
              <p>Jumlah Pengguna: <span>{{ !errorHappen ? totalUser : 'Terjadi kesalahan' }}</span></p>
              <p>Total Sesi Debat dibuat: <span>{{ !errorHappen ? totalSession : 'Terjadi kesalahan' }}</span></p>
            </div>
          </div>
          <div>
            <link-button href="/admin/histories" color="blue">
              Ke Halaman <font-awesome-icon icon="angle-double-right" class="ml-1" size="lg"/>
            </link-button>
          </div>
        </div>
      </basic-card>
      <basic-card>
        <div class="stretch-flex">
          <div class="inline-flex gap-2 items-center">
            <div>
              <font-awesome-icon icon="comment-dots" size="3x" fixed-width />
            </div>
            <div>
              <h2>Manajemen Dataset Kategori dan Pertanyaan Debat</h2>
              <p>Jumlah Kategori: <span>{{ !errorHappen ? totalCategory : 'Terjadi kesalahan' }}</span></p>
              <p>Jumlah Pertanyaan dari Semua Kategori: <span>{{ !errorHappen ? totalQuestion : 'Terjadi kesalahan' }}</span></p>
            </div>
          </div>
          <div>
            <link-button href="/admin/dataset" color="blue">
              Ke Halaman <font-awesome-icon icon="angle-double-right" class="ml-1" size="lg"/>
            </link-button>
          </div>
        </div>
      </basic-card>
    </div>
  </normal-layout>
</template>

<script>
import NormalLayout from '@/components/Layouts/NormalLayout';
import BasicCard from '@/components/Cards/BasicCard';
import LinkButton from '@/components/Buttons/LinkButton';

export default {
  name: 'AdminDashboard',
  title: 'Dashboard',
  components: { LinkButton, BasicCard, NormalLayout },
  data() {
    return {
      totalSession: 0,
      totalCategory: 0,
      totalQuestion: 0,
      totalUser: 0,
      errorHappen: false,
    };
  },
  created() {
    this.$axios.post('/auth/jwt/refresh/', { refresh: this.$store.state.refreshToken })
      .then((res) => {
        console.log(res.data);
        this.$store.commit('setToken', {
          access: res.data.access,
        });
        this.$axios.get('/auth/users/me/')
          .then((me) => {
            const temp = me.data.id;
            this.$axios.get(`/users/${me.data.id}`)
              .then((myData) => {
                this.$store.commit('setLoggedUser', {
                  id: temp,
                  name: `${myData.data.first_name} ${myData.data.last_name}`,
                  username: myData.data.username,
                  is_superuser: myData.data.is_superuser,
                });
                this.getLoggedUserData();
              })
              .catch((e) => {
                console.log(e);
              });
          })
          .catch((e) => {
            console.log(e);
          });
      })
      .catch((e) => {
        console.log('Error in refreshToken()');
        console.log(e);
      });
    this.$axios.get('/debote/count').then(
      (res) => {
        this.errorHappen = false;
        this.totalSession = res.data.sessions;
        this.totalCategory = res.data.categories;
        this.totalQuestion = res.data.questions;
        this.totalUser = res.data.users;
      },
    ).catch(
      // eslint-disable-next-line no-return-assign
      () => this.errorHappen = true,
    );
  },
};
</script>

<style scoped>
p {
  @apply text-sm;
}
span {
  @apply font-semibold text-green-500;
}
</style>
