<template>
  <normal-layout>
    <template #title>{{ greeting() }}, {{ me.first_name }} {{ me.last_name }}</template>
    <template #below>Selamat Datang di Debote!</template>
    <template #right-side>
      <div class="flex flex-wrap gap-2">
        <!-- Tombol untuk membuat sesi baru -->
        <basic-button color="green" @click.native="prepareCreateSession()">
          <font-awesome-icon icon="play-circle" class="mr-1"/>
          Mulai Debat
        </basic-button>
      </div>
    </template>

    <!-- Menampilkan pesan sukses -->
    <icon-card color="blue" v-if="fetchSuccess.display" icon="check">
      <div class="stretch-flex">
        <div>
          {{ fetchSuccess.message }}
        </div>
        <div>
          <basic-button color="green" @click.native="fetchSuccess.display = false">
            <font-awesome-icon icon="times" class="mr-1" /> Tutup
          </basic-button>
        </div>
      </div>
    </icon-card>

    <!-- Menampilkan error yang terjadi ketika menggunakan axios -->
    <axios-display-errors :errors="fetchError.errorMessage" v-if="fetchError.display" :message="fetchError.message" />

    <div class="grid grid-cols-1 lg:grid-cols-4 gap-2 mt-2">
      <div class="w-full">
        <!-- Kartu Statistik User -->
        <div class="mb-2">
          <title-card icon="clipboard-check">
            <template #title>Statistik Anda</template>

            <table class="divide-y w-full divide-gray-400">
              <tr>
                <td>
                  <p class="font-bold text-green-500">Jumlah Sesi Debat Saya</p>
                  <p class="text-sm">{{ me.debate_sessions.length }} sesi</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="font-bold text-green-500">Rata-Rata Interaksi Debat Saya</p>
                  <p class="text-sm">{{ countAverageResponse }} interaksi</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="font-bold text-green-500">Rata-Rata Waktu Respon Saya</p>
                  <p class="text-sm">{{ countAverageTime }} detik</p>
                </td>
              </tr>
            </table>
          </title-card>
        </div>
      </div>

      <div class="col-span-3">
        <title-card icon="history" max-height="max-h-screen">
          <template #title>Riwayat Sesi Debat Anda</template>
          <template #buttons>
            <count-card icon="comments">{{ me.debate_sessions.length }}</count-card>
          </template>

          <div class="grid grid-cols-1 gap-2">
            <icon-card v-if="me.debate_sessions.length === 0" icon="folder-open" color="blue" size="2x">
              Anda Belum Pernah Melakukan Debat. Silahkan Gunakan Tombol
              <span class="font-bold"><font-awesome-icon icon="play-circle" /> Mulai Debat</span>
              untuk Membuat Sesi Baru.
            </icon-card>

            <option-card v-else v-for="(session, i) in me.debate_sessions" :key="i">
              <template #title>{{ session.name }}</template>
              <template #content>
                <table>
                  <tr>
                    <td>Kategori:</td>
                    <td>{{ session.category_detail }}</td>
                  </tr>
                  <tr>
                    <td>
                      <p class="mr-2">Dibuat Pada:</p>
                    </td>
                    <td>{{ translateDate(session.created_at, true) }}</td>
                  </tr>
                </table>
              </template>
              <template #buttons>
                <link-button color="green" :href="`/debate/history/${session.id}`">
                  <font-awesome-icon icon="eye" class="mr-1" />Lihat
                </link-button>
                <basic-button color="red" @click.native="confirmDeleteSession(session.id)">
                  <font-awesome-icon icon="trash-alt" class="mr-1" />Hapus
                </basic-button>
              </template>
            </option-card>
          </div>
        </title-card>
      </div>
    </div>

    <!-- Modal untuk membuat sesi baru -->
    <dialog-modal :show="modal.addSession" @close="toggleModal('addSession')">
      <template #title>Membuat Sesi Debat Baru</template>

      <template #content>
        <form @submit.prevent="startSession()">
          <t-input-group
            label="Nama Sesi Debat"
            description="Opsional. Namun apabila anda tidak mengisi bagian ini, nama sesi anda secara otomatis adalah timestamp kapan anda membuat sesi tersebut"
          >
            <t-input v-model="newSession.name" placeholder="Latihan Debat Pertamaku"/>
          </t-input-group>
          <t-input-group
            label="Kategori Debat*"
            :variant="{'danger' : $v.newSession.category.$error}"
            @input="$v.newSession.category.$touch()"
            :feedback="invalidCategoryFeedback"
          >
            <t-rich-select
              :options="categories"
              value-attribute="id"
              text-attribute="category"
              placeholder="Klik disini untuk memilih salah satu"
              v-model="newSession.category"
            />
          </t-input-group>
          <t-input-group
            label="Batas Maksimal Durasi Sesi (Dalam Detik)"
            description="Opsional. Apabila anda tidak ingin membatasi sesi, pastikan bagian ini kosong (bukan berisi angka 0). Maka sesi hanya akan berakhir apabila anda menekan tombol Akhiri."
          >
            <t-input
              v-model="newSession.session_max_duration"
              placeholder="60 (untuk mengatur 1 menit)"
              type="number"
              min="0"
            />
          </t-input-group>
          <t-input-group
            label="Batas Maksimal Waktu Setiap Respon Anda (Dalam Detik)"
            description="Opsional. Apabila anda mengisi bagian ini dan ketika debat dimulai waktu respon anda habis, sesi akan langsung berakhir. Namun apabila anda tidak ingin membatasi respon, pastikan bagian ini kosong (bukan berisi angka 0)."
          >
            <t-input
              v-model="newSession.response_max_duration"
              placeholder="60 (untuk mengatur 1 menit)"
              type="number"
              min="0"
            />
          </t-input-group>
        </form>
      </template>

      <template #footer>
        <basic-button color="red" @click.native="toggleModal('addSession')">
          <font-awesome-icon icon="times" class="mr-1" />Tidak Jadi
        </basic-button>
        <basic-button color="green" @click.native="startSession()">
          <font-awesome-icon icon="paper-plane" class="mr-1" />Mulai Debat
        </basic-button>
      </template>
    </dialog-modal>
    <!-- Modal untuk menghapus sesi -->
    <confirmation-modal :show="modal.deleteSession" @close="toggleModal('deleteSession')">
      <template #title>Konfirmasi Menghapus Sesi</template>
      <template #content>Apakah anda yakin untuk menghapus sesi? Setelah dihapus anda dan semua admin tidak bisa melihat riwayat sesi beserta interaksinya.</template>

      <template #footer>
        <basic-button color="green" @click.native="toggleModal('deleteSession')">
          <font-awesome-icon icon="times" class="mr-1" />Tidak Jadi
        </basic-button>
        <basic-button color="red" @click.native="doDeleteSession()">
          <font-awesome-icon icon="check" class="mr-1" />Iya Saya Yakin
        </basic-button>
      </template>
    </confirmation-modal>
  </normal-layout>
</template>

<script>
import NormalLayout from '@/components/Layouts/NormalLayout';
import BasicButton from '@/components/Buttons/BasicButton';
import TitleCard from '@/components/Cards/TitleCard';
import OptionCard from '@/components/Cards/OptionCard';
import IconCard from '@/components/Cards/IconCard';
import CountCard from '@/components/Cards/CountCard';
import DialogModal from '@/components/Modal/DialogModal';
import { numeric, required, minValue } from 'vuelidate/lib/validators';
import AxiosDisplayErrors from '@/components/AxiosHandling/AxiosDisplayErrors';
import ConfirmationModal from '@/components/Modal/ConfirmationModal';
import LinkButton from '@/components/Buttons/LinkButton';

export default {
  name: 'StudentDashboard',
  components: {
    LinkButton,
    ConfirmationModal,
    AxiosDisplayErrors,
    DialogModal,
    CountCard,
    IconCard,
    OptionCard,
    TitleCard,
    BasicButton,
    NormalLayout,
  },
  data() {
    return {
      fetchError: {
        errorMessage: {},
        display: false,
        message: '',
        type: '',
      },
      fetchSuccess: {
        message: '',
        display: false,
      },
      me: {
        id: 0,
        username: '',
        first_name: '',
        last_name: '',
        email: '',
        groups: [],
        debate_sessions: [],
      },
      categories: [],
      onDisplay: {
        display: false,
        group: {},
      },
      newSession: {
        name: '',
        user: null,
        category: null,
        session_max_duration: null,
        response_max_duration: null,
      },
      leaveTarget: {
        id: 0,
      },
      deleteTarget: {
        id: 0,
      },
      modal: {
        addSession: false,
        deleteSession: false,
        leaveGroup: false,
      },
      countAverageResponse: 0,
      countAverageTime: 0,
    };
  },
  computed: {
    invalidCategoryFeedback() {
      if (this.$v.newSession.category.$dirty && !this.$v.newSession.category.required) return 'Harap pilih salah satu kategori debat yang ingin anda buat.';
      return '';
    },
  },
  validations: {
    newSession: {
      name: {},
      category: { required },
      session_max_duration: {
        numeric,
        minValue: minValue(0),
      },
      response_max_duration: {
        numeric,
        minValue: minValue(0),
      },
    },
  },
  methods: {
    countResAverage() {
      if (this.me.debate_sessions.length === 0) {
        this.countAverageResponse = 0;
        return;
      }
      const res = [];
      for (let i = 0; i < this.me.debate_sessions.length; i += 1) {
        const temp = this.me.debate_sessions[i];
        res.push(temp.debate_interactions.length);
      }
      console.log(res);
      this.countAverageResponse = (res.reduce((a, b) => parseInt(a, 10) + parseInt(b, 10), 0) / res.length).toFixed(2);
    },
    countTimeAverage() {
      if (this.me.debate_sessions.length === 0) {
        this.countAverageTime = 0;
        return;
      }
      const times = [];
      for (let i = 0; i < this.me.debate_sessions.length; i += 1) {
        const session = this.me.debate_sessions[i];
        let prevTime = session.created_at;
        for (let j = 0; j < session.debate_interactions.length; j += 1) {
          const iter = session.debate_interactions[i];
          if (iter.response_by === 'usr') {
            const first = new Date(prevTime);
            const second = new Date(iter.answered_at);
            prevTime = iter.answered_at;
            const timeDiff = ((second - first) / 1000).toFixed(0);
            times.push(timeDiff);
          }
        }
      }
      this.countAverageTime = (times.reduce((a, b) => parseInt(a, 10) + parseInt(b, 10), 0) / times.length).toFixed(2);
    },
    getLoggedUserData() {
      this.$axios.get(`/users/${this.$store.state.loggedUser.id}/`)
        .then((res) => {
          this.me = res.data;
          this.countResAverage();
          this.countTimeAverage();
        })
        .catch((e) => {
          // this.$nprogress.done();
          this.fetchError = {
            message: 'Gagal dalam mengambil data anda',
            errorMessage: this.filterErrorMessage(e),
            display: true,
            type: 'createQuestion',
          };
        });

      this.$axios.get('/debote/categories/').then((res) => {
        this.categories = [];
        for (let i = 0; i < res.data.length; i += 1) {
          const temp = res.data[i];
          this.categories.push({
            id: temp.id,
            category: `[${temp.language}] ${temp.category}`,
          });
        }
      }).catch((e) => {
        // this.$nprogress.done();
        this.fetchError = {
          message: 'Gagal dalam mengambil data kategori.',
          errorMessage: this.filterErrorMessage(e),
          display: true,
          type: 'createQuestion',
        };
      });
    },
    toggleModal(target) {
      switch (target) {
        case 'addSession':
          this.modal.addSession = !this.modal.addSession;
          break;
        case 'deleteSession':
          this.modal.deleteSession = !this.modal.deleteSession;
          break;
        case 'leaveGroup':
          this.modal.leaveGroup = !this.modal.leaveGroup;
          break;
        default:
          break;
      }
    },
    setOnDisplay(target) {
      this.onDisplay.group = target;
      this.onDisplay.display = true;
    },
    confirmDeleteSession(session) {
      this.deleteTarget.id = session;
      this.toggleModal('deleteSession');
    },
    doDeleteSession() {
      this.$nprogress.start();
      this.toggleModal('deleteSession');

      this.$axios.delete(`/debote/sessions/${this.deleteTarget.id}`).then(() => {
        this.$nprogress.done();
        this.fetchSuccess = {
          message: 'Sesi Telah Dihapus',
          display: true,
        };
        this.getLoggedUserData();
      }).catch((e) => {
        this.$nprogress.done();
        this.fetchError = {
          message: 'Gagal dalam menghapus sesi!',
          errorMessage: this.filterErrorMessage(e),
          display: true,
          type: 'createQuestion',
        };
      });
    },
    prepareCreateSession() {
      this.$v.newSession.$reset();
      this.newSession = {
        name: '',
        user: 0,
        category: null,
        session_max_duration: null,
        response_max_duration: null,
      };
      this.toggleModal('addSession');
    },
    startSession() {
      this.$v.newSession.$touch();
      if (this.$v.newSession.$error) return;

      this.modal.addSession = false;
      this.newSession.user = this.$store.state.loggedUser.id;
      this.$nprogress.start();

      this.$axios.post('/debote/sessions/', this.newSession).then((res) => {
        this.$nprogress.done();
        this.fetchSuccess = {
          message: 'Sesi Telah Dibuat! Anda sebentar lagi akan dibawa ke ruangan debat',
          display: true,
        };
        // TODO: Set session untuk disimpan vuex dan localStorage
        this.$store.commit('setDebateSessionId', res.data.id);
        // TODO: Routing untuk diarahkan ke ruangan debat
        this.$router.push('/debate');
      }).catch((e) => {
        this.$nprogress.done();
        this.fetchError = {
          message: `Gagal dalam menambahkan pertanyaan baru di Kategori ${this.onDisplay.category}!`,
          errorMessage: this.filterErrorMessage(e),
          display: true,
          type: 'createQuestion',
        };
      });
    },
  },
  async created() {
    this.$axios.post('/auth/jwt/refresh/', { refresh: this.$store.state.refreshToken })
      .then((res) => {
        console.log(res.data);
        this.$store.commit('setToken', {
          access: res.data.access,
        });
        this.$axios.get('/auth/users/me/')
          .then((me) => {
            const temp = me.data.id;
            this.$axios.get(`/users/${me.data.id}`)
              .then((myData) => {
                this.$store.commit('setLoggedUser', {
                  id: temp,
                  name: `${myData.data.first_name} ${myData.data.last_name}`,
                  username: myData.data.username,
                  is_superuser: myData.data.is_superuser,
                });
                this.getLoggedUserData();
              })
              .catch((e) => {
                console.log(e);
              });
          })
          .catch((e) => {
            console.log(e);
          });
      })
      .catch((e) => {
        console.log('Error in refreshToken()');
        console.log(e);
      });
  },
};
</script>

<style scoped>

</style>
