<template>
  <div class="bg-red-600 text-white rounded-lg p-2">
    <div class="inline-flex gap-2 items-center">
      <div>
        <font-awesome-icon icon="exclamation-triangle" size="2x" />
      </div>
      <div>
        <p class="font-bold text-lg">Maaf Ada Kesalahan :(</p>
        <p class="text-sm">{{ message }}</p>
      </div>
    </div>

    <div class="text-sm mt-2">
      <p>Alasan terjadi error:</p>
      <ul class="ml-4 list-disc">
        <li v-for="(value, key) in errors" :key="key">
          {{key}}: {{value}}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AxiosDisplayErrors',
  props: ['errors', 'message'],
};
</script>

<style scoped>

</style>
