<template>
  <div class="text-light-dark text-center">
    <font-awesome-icon icon="cog" spin size="3x" />
    <h2 class="font-semibold text-light-dark">Memuat... Silahkan Tunggu</h2>
  </div>
</template>

<script>
export default {
  name: 'Loading',
};
</script>

<style scoped>

</style>
