<template>
  <div class="bg-gray-300 dark:bg-[#293a57] dark:text-white min-h-screen">
    <nprogress-container />
    <!-- Main Component -->
    <router-view/>

    <!-- Modal Portal -->
    <portal-target name="modal" multiple />
  </div>
</template>

<script>
import NprogressContainer from 'vue-nprogress/src/NprogressContainer.vue';

export default {
  components: { NprogressContainer },
  created() {
    this.$axios.get('/api/csrf/').then((res) => {
      this.$axios.defaults.xsrfHeaderName = res.data.token;
    });
  },
};
</script>

<style>

</style>
