<template>
  <auth-layout>
    <template #logo>
      <h1>Debote</h1>
      <p>Chat-Based Debate Simulation Against Bot</p>
    </template>

    <template #title>Pendaftaran Akun Admin</template>

    <template #default>
      <form @submit.prevent="submitForm()" id="login-form">
        <!-- First Name Last Name -->
        <div class="grid grid-cols-2 gap-2">
          <t-input-group label="Nama Depan" :variant="{'danger' : $v.formData.first_name.$error}" @input="$v.formData.first_name.$touch()" :feedback="firstNameFeedback">
            <t-input v-model="formData.first_name" />
          </t-input-group>
          <t-input-group label="Nama Belakang" :variant="{'danger' : $v.formData.last_name.$error}" @input="$v.formData.last_name.$touch()" :feedback="lastNameFeedback">
            <t-input v-model="formData.last_name" />
          </t-input-group>
        </div>

        <!-- Username -->
        <t-input-group label="Username" :variant="{'danger' : $v.formData.username.$error}" @input="$v.formData.username.$touch()" :feedback="usernameFeedback">
          <t-input v-model="formData.username" />
        </t-input-group>

        <!-- Email -->
        <t-input-group label="Email" :variant="{'danger' : $v.formData.email.$error}" @input="$v.formData.email.$touch()" :feedback="emailFeedback">
          <t-input v-model="formData.email" type="email" />
        </t-input-group>

        <!-- Password -->
        <t-input-group label="Password" :variant="{'danger' : $v.formData.password.$error}" @input="$v.formData.password.$touch()" :feedback="passwordFeedback">
          <t-input v-model="formData.password" type="password" />
        </t-input-group>
      </form>

      <div class="flex justify-end">
        <basic-button color="green" type="submit" form="login-form">
          Daftar
        </basic-button>
      </div>
    </template>
  </auth-layout>
</template>

<script>
import {
  required,
  minLength,
  email,
  alphaNum,
} from 'vuelidate/lib/validators';
import AuthLayout from '@/components/Layouts/AuthLayout';
import BasicButton from '@/components/Buttons/BasicButton';
// import BasicCard from '@/components/Cards/BasicCard';

export default {
  name: 'AdminRegistration',
  components: { BasicButton, AuthLayout },
  data() {
    return {
      formData: {
        first_name: '',
        last_name: '',
        email: '',
        username: '',
        password: '',
      },
    };
  },
  validations: {
    formData: {
      first_name: { required },
      last_name: { required },
      email: { required, email },
      username: {
        required,
        alphaNum,
        minLength: minLength(3),
      },
      password: { required },
    },
  },
  methods: {
    submitForm() {
      this.$v.formData.$touch();
      if (this.$v.formData.$error) return;
      console.log(this.formData);
      this.$axios.post('/users/', this.formData).then(() => {
        this.$store.dispatch('userLogin', this.formData)
          .then(() => {
            this.$router.push('/dashboard');
          })
          .catch((e) => {
            console.log(e);
          });
      });
    },
  },
  computed: {
    firstNameFeedback() {
      if (this.$v.formData.username.$dirty && !this.$v.formData.username.required) return 'Harap isi nama depan anda';
      return '';
    },
    lastNameFeedback() {
      if (this.$v.formData.username.$dirty && !this.$v.formData.username.required) return 'Harap isi nama belakang anda';
      return '';
    },
    emailFeedback() {
      if (this.$v.formData.email.$dirty && !this.$v.formData.email.required) return 'Harap isi email anda';
      if (this.$v.formData.email.$dirty && !this.$v.formData.email.email) return 'Data yang anda isi bukan merupakan email';
      return '';
    },
    usernameFeedback() {
      if (this.$v.formData.username.$dirty && !this.$v.formData.username.required) return 'Harap isi username anda';
      if (this.$v.formData.username.$dirty && !this.$v.formData.username.minLength) return 'Minimal 3 karakter';
      if (this.$v.formData.username.$dirty && !this.$v.formData.username.alphaNum) return 'Hanya menerima karakter huruf dan angka saja';
      return '';
    },
    passwordFeedback() {
      if (this.$v.formData.password.$dirty && !this.$v.formData.password.required) return 'Harap isi password anda';
      return '';
    },
  },
};
</script>

<style scoped>

</style>
