<template>
  <auth-layout>
    <template #logo>
      <h1>Debote</h1>
      <p>Chat-Based Debate Simulation Against Bot</p>
    </template>

    <template #title>Selamat Datang Kembali!</template>

    <template #default>
      <p class="text-red-500 mb-2" v-if="incorrectAuth">
        Maaf informasi login yang anda berikan tidak cocok dengan data kami.
      </p>

      <form @submit.prevent="submitForm()" id="login-form">
        <t-input-group label="Username" :variant="{'danger' : $v.formData.username.$error}" @input="$v.formData.username.$touch()" :feedback="usernameFeedback">
          <t-input v-model="formData.username" />
        </t-input-group>
        <t-input-group label="Password" :variant="{'danger' : $v.formData.password.$error}" @input="$v.formData.password.$touch()" :feedback="passwordFeedback">
          <t-input v-model="formData.password" type="password" />
        </t-input-group>
      </form>

      <div class="flex justify-end">
        <basic-button color="green" type="submit" form="login-form">
          Masuk
        </basic-button>
      </div>
    </template>
  </auth-layout>
</template>

<script>
import { required } from 'vuelidate/lib/validators';
import AuthLayout from '@/components/Layouts/AuthLayout';
import BasicButton from '@/components/Buttons/BasicButton';
// import BasicCard from '@/components/Cards/BasicCard';

export default {
  name: 'Login',
  title: 'Masuk',
  components: { BasicButton, AuthLayout },
  data() {
    return {
      formData: {
        username: '',
        password: '',
      },
      incorrectAuth: false,
    };
  },
  validations: {
    formData: {
      username: { required },
      password: { required },
    },
  },
  methods: {
    submitForm() {
      this.incorrectAuth = false;
      this.$v.formData.$touch();
      if (this.$v.formData.$error) return;
      console.log(this.formData);

      this.$store.dispatch('userLogin', this.formData)
        .then(() => {
          if (this.$store.state.loggedUser.is_superuser) this.$router.push('/admin');
          else this.$router.push('/dashboard');
        })
        .catch((e) => {
          console.log(e);
          this.incorrectAuth = true;
        });
    },
  },
  computed: {
    usernameFeedback() {
      if (this.$v.formData.username.$dirty && !this.$v.formData.username.required) return 'Harap isi username anda';
      return '';
    },
    passwordFeedback() {
      if (this.$v.formData.password.$dirty && !this.$v.formData.password.required) return 'Harap isi password anda';
      return '';
    },
  },
};
</script>

<style scoped>

</style>
