<template>
  <p v-if="!fail">Logging out...</p>
  <div v-else>
    <p>Gagal dalam Melakukan Logout</p>
    <basic-button color="red" @click.native="doLogout">
      Coba Lagi
    </basic-button>
  </div>
</template>

<script>
import BasicButton from '@/components/Buttons/BasicButton';

export default {
  name: 'Logout',
  components: { BasicButton },
  data() {
    return {
      fail: false,
    };
  },
  methods: {
    doLogout() {
      this.$store.dispatch('userLogout')
        .then(() => {
          this.$router.push('/');
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  created() {
    this.doLogout();
  },
};
</script>

<style scoped>

</style>
