<template>
  <normal-layout>
    <template #title>Manajemen Kategori dan Pertanyaan Debat</template>
    <template #right-side>
      <!-- Tombol untuk Menambah Kategori -->
      <basic-button color="green" @click.native="configureCreateCategory(onDisplay)">
        <font-awesome-icon icon="folder-plus" class="mr-1"/>
        Tambah Kategori
      </basic-button>
    </template>

    <!-- Menampilkan pesan sukses -->
    <icon-card color="blue" v-if="fetchSuccess.display" icon="check">
      <div class="stretch-flex">
        <div>
          {{ fetchSuccess.message }}
        </div>
        <div>
          <basic-button color="green" @click.native="fetchSuccess.display = false">
            <font-awesome-icon icon="times" class="mr-1" /> Tutup
          </basic-button>
        </div>
      </div>
    </icon-card>

    <!-- Menampilkan error yang terjadi ketika menggunakan axios -->
    <axios-display-errors :errors="fetchError.errorMessage" v-if="fetchError.display" :message="fetchError.message" />

    <!-- Konten Utama -->
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-2 mt-2">
      <title-card icon="book">
        <template #title>Daftar Kategori</template>

        <!-- Apabila sistem masih loading data dari server -->
        <loading v-if="loading.category" />

        <!-- Tombol untuk refresh data ketika error fetch kategori terjadi -->
        <basic-button color="green" @click.native="fetchAllCategories" v-if="errorFetchCategory">
          <font-awesome-icon icon="redo-alt" class="mr-1" /> Ulangi
        </basic-button>

        <!-- Apabila daftar kategori kosong -->
        <icon-card v-if="!errorFetchCategory && categories.length === 0" icon="folder-open" color="blue" size="2x">
          Daftar Kategori Masih Kosong. Silahkan Gunakan Tombol "Tambah Kategori"
        </icon-card>

        <!-- Daftar semua kategori -->
        <div class="grid grid-cols-1 gap-2" v-else-if="!errorFetchCategory && categories.length > 0">
          <option-card v-for="(category, i) in categories" :key="i" :color="category.id === onDisplay.id ? 'active' : 'normal'">
            <template #title>[{{ category.language }}] {{ category.category }}</template>
            <template #content>{{ category.questions.length }} Pertanyaan</template>
            <template #buttons>
              <!-- Tombol untuk menampilkan detil kategori -->
              <icon-button color="blue" icon="eye" @click.native="setOnDisplay(i)" v-if="onDisplay.id !== category.id"/>
            </template>
          </option-card>
        </div>
      </title-card>

      <div class="lg:col-span-3">
        <!-- Apabila user belum memilih kategori untuk ditampilkan -->
        <icon-card v-if="onDisplay.id === 0 && !loading.question" icon="exclamation-triangle" color="red" size="2x">
          Silahkan Pilih Salah Satu Kategori dari Panel "Daftar Kategori".
        </icon-card>

        <template v-else>
          <!-- Judul dan Tombol Kategori -->
          <div class="mb-2">
            <basic-card>
              <div class="stretch-flex">
                <div class="w-full">
                  <h2>{{ onDisplay.category }}</h2>
                  <p class="text-sm">Bahasa: {{ onDisplay.language }}</p>
                  <p class="italic text-xs">
                    Catatan: Setelah selesai merubah daftar pertanyaan, pastikan menekan tombol
                    <span class="text-green-500 not-italic"><font-awesome-icon icon="check" /> Selesai</span>
                    agar pertanyaan yang diperbarui bisa muncul di debat.
                  </p>
                </div>
                <!-- Semua tombol untuk manajemen kategori -->
                <div class="flex flex-wrap gap-2 justify-end w-2/5">
                  <!-- Tombol untuk sistem melakukan training data -->
                  <basic-button color="green" @click.native="trainData(onDisplay.id)" :with-notification="edited">
                    <font-awesome-icon icon="check" class="mr-1"/>
                    Selesai
                  </basic-button>

                  <!-- Tombol for Edit Add Group Member -->
                  <basic-button color="green" @click.native="configureCreateQuestion(onDisplay)">
                    <font-awesome-icon icon="folder-plus" class="mr-1"/>
                    Tambah Pertanyaan
                  </basic-button>

                  <!-- Tombol for Edit Category Name -->
                  <basic-button color="blue" @click.native="configureEditCategory(onDisplay)">
                    <font-awesome-icon icon="edit" class="mr-1"/>
                    Edit
                  </basic-button>

                  <!-- Tombol for Delete Group -->
                  <basic-button color="red" @click.native="configureDeleteCategory(onDisplay)">
                    <font-awesome-icon icon="trash-alt" class="mr-1"/>
                    Hapus
                  </basic-button>
                </div>
              </div>
            </basic-card>
          </div>

          <!-- Card for displaying Category Detail -->
          <title-card icon="comment-dots" max-height="max-h-screen">
            <template #title>Daftar Pertanyaan</template>
            <template #buttons>
              <count-card icon="comment-dots">{{ onDisplay.questions.length }}</count-card>
            </template>

            <!-- Apabila masih memproses untuk mengambil data -->
            <template #default v-if="onDisplay.id !== 0 && loading.question">
              <loading />
            </template>

            <!-- Apabila daftar pertanyaan kosong -->
            <template v-else-if="onDisplay.id !== 0 && !loading.question && onDisplay.questions.length === 0">
              <icon-card icon="folder-open" color="blue" size="2x">
                Daftar Pertanyaan Masih Kosong. Silahkan Gunakan Tombol "Tambah Pertanyaan"
              </icon-card>
            </template>

            <!-- Tampilkan daftar pertanyaan -->
            <div class="grid grid-cols-1 gap-2" v-else>
              <option-card v-for="(q, i) in onDisplay.questions" :key="i" button-class="w-24">
                <template #content>
                  <p class="text-sm">{{ q.question }}</p>
                </template>

                <template #buttons>
                  <!-- Tombol untuk mengedit pertanyaan -->
                  <icon-button icon="edit" color="blue" @click.native="configureEditQuestion(q)" />
                  <!-- Tombol untuk menghapus pertanyaan -->
                  <icon-button icon="trash-alt" color="red" @click.native="configureDeleteQuestion(q)" />
                </template>
              </option-card>
            </div>
          </title-card>
        </template>
      </div>
    </div>

    <!-- Modal untuk menambah kategori -->
    <dialog-modal :show="modal.createCategory" @close="toggleModal('createCategory')">
      <template #title>Menambah Kategori Baru</template>
      <template #subtitle>Catatan: Anda harus menambahkan 10 pertanyaan awal agar kategori ini bisa ditambahkan.</template>

      <template #content>
        <form @submit.prevent="doCreateCategory()" id="create-category">
          <t-input-group label="Nama Kategori*" :variant="{'danger' : $v.createCategoryTarget.category.$error}" @input="$v.createCategoryTarget.category.$touch()" :feedback="createCategoryFeedback">
            <t-input v-model="createCategoryTarget.category" />
          </t-input-group>
          <t-input-group label="Bahasa yang Digunakan*" :variant="{'danger' : $v.createCategoryTarget.language.$error}" @input="$v.createCategoryTarget.language.$touch()" :feedback="createCategoryLanguageFeedback">
            <t-select :options="languages" v-model="createCategoryTarget.language" />
          </t-input-group>

          <title-card icon="comment-dots" use-scroll>
            <template #title>Daftar Pertanyaan</template>
            <template #buttons>
              <count-card icon="comment-dots">
                {{ createCategoryTarget.questions.length }}
              </count-card>
              <icon-button icon="plus" @click.native="addQuestionInNewCategory()"/>
            </template>

            <div class="list-grid">
              <icon-card icon="exclamation-triangle" v-if="createCategoryTarget.questions.length === 0" color="red">
                <p class="text-white">Masih belum ada pertanyaan disini.</p>
                <p class="text-white">
                  Silahkan gunakan tombol <font-awesome-icon icon="plus"/> untuk menambah pertanyaan.
                </p>
              </icon-card>
              <div class="inline-flex items-center gap-1" v-for="(q, index) in createCategoryTarget.questions" :key="index">
                <div class="w-full">
                  <t-input-group :label="`Pertanyaan ${index+1}`">
                    <t-textarea placeholder="Bagaimana pendapat anda..." v-model="q.question" />
                  </t-input-group>
                </div>
                <icon-button icon="trash-alt" color="red" @click.native="deleteQuestionInNewCategory(index)"/>
              </div>
            </div>
          </title-card>
        </form>
      </template>

      <template #footer>
        <basic-button color="red" @click.native="toggleModal('createCategory')">
          <font-awesome-icon icon="times" class="mr-1" />Tidak Jadi
        </basic-button>
        <basic-button color="green" @click.native="doCreateCategory()" form="create-category" :disabled="errorCheckInCreateCategory">
          <font-awesome-icon icon="check" class="mr-1" />Kirim Data
        </basic-button>
      </template>
    </dialog-modal>

    <!-- Modal untuk mengedit kategori -->
    <dialog-modal :show="modal.editCategory" @close="toggleModal('editCategory')">
      <template #title>Mengubah Kategori</template>

      <template #content>
        <form @submit.prevent="doEditCategory()" id="edit-category">
          <t-input-group label="Nama Kategori*" :variant="{'danger' : $v.editCategoryTarget.category.$error}" @input="$v.editCategoryTarget.category.$touch()" :feedback="editCategoryFeedback">
            <t-input v-model="editCategoryTarget.category" />
          </t-input-group>
          <t-input-group label="Bahasa yang Digunakan*" :variant="{'danger' : $v.editCategoryTarget.language.$error}" @input="$v.editCategoryTarget.language.$touch()" :feedback="editCategoryLanguageFeedback">
            <t-select :options="languages" v-model="editCategoryTarget.language" />
          </t-input-group>
        </form>
      </template>

      <template #footer>
        <basic-button color="red" @click.native="toggleModal('editCategory')">
          <font-awesome-icon icon="times" class="mr-1" />Tidak Jadi
        </basic-button>
        <basic-button color="green" @click.native="doEditCategory()" :disabled="$v.editCategoryTarget.$error">
          <font-awesome-icon icon="check" class="mr-1" />Kirim Data
        </basic-button>
      </template>
    </dialog-modal>

    <!-- Modal untuk menghapus kategori -->
    <confirmation-modal :show="modal.deleteCategory" @close="toggleModal('deleteCategory')">
      <template #title>Konfirmasi Menghapus Kategori Debat</template>

      <template #content>
        <p>Apakah anda yakin untuk menghapus kategori <span class="text-red-500">{{ deleteCategoryTarget.category }}</span>?</p>
        <p>Setelah kategori dihapus, semua riwayat sesi debat beserta pertanyaan yang terkait dengan kategori ini juga akan dihapus.</p>
      </template>

      <template #footer>
        <basic-button color="green" @click.native="toggleModal('deleteCategory')">
          <font-awesome-icon icon="times" class="mr-1" />Tidak Jadi
        </basic-button>
        <basic-button color="red" @click.native="doDeleteCategory()">
          <font-awesome-icon icon="check" class="mr-1" />Iya Saya Yakin
        </basic-button>
      </template>
    </confirmation-modal>

    <!-- Modal untuk menambah pertanyaan -->
    <dialog-modal :show="modal.createQuestion" @close="toggleModal('createQuestion')">
      <template #title>Menambah Pertanyaan Debat</template>

      <template #content>
        <form @submit.prevent="doCreateQuestion()" id="create-question">
          <t-input-group label="Isi Pertanyaan*" :variant="{'danger' : $v.createQuestionTarget.question.$error}" @input="$v.createQuestionTarget.question.$touch()" :feedback="createQuestionFeedback">
            <t-textarea v-model="createQuestionTarget.question" />
          </t-input-group>
        </form>
      </template>

      <template #footer>
        <basic-button color="red" @click.native="toggleModal('createQuestion')">
          <font-awesome-icon icon="times" class="mr-1" />Tidak Jadi
        </basic-button>
        <basic-button color="green" @click.native="doCreateQuestion()" :disabled="$v.createQuestionTarget.$error">
          <font-awesome-icon icon="check" class="mr-1" />Kirim Data
        </basic-button>
      </template>
    </dialog-modal>

    <!-- Modal untuk mengedit pertanyaan -->
    <dialog-modal :show="modal.editQuestion" @close="toggleModal('editQuestion')">
      <template #title>Merubah Pertanyaan Debat</template>

      <template #content>
        <form @submit.prevent="doEditQuestion()" id="edit-question">
          <t-input-group label="Isi Pertanyaan*" :variant="{'danger' : $v.editQuestionTarget.question.$error}" @input="$v.editQuestionTarget.question.$touch()" :feedback="editQuestionFeedback">
            <t-textarea v-model="editQuestionTarget.question" />
          </t-input-group>
        </form>
      </template>

      <template #footer>
        <basic-button color="red" @click.native="toggleModal('editQuestion')">
          <font-awesome-icon icon="times" class="mr-1" />Tidak Jadi
        </basic-button>
        <basic-button color="green" @click.native="doEditQuestion()" :disabled="$v.editQuestionTarget.$error">
          <font-awesome-icon icon="check" class="mr-1" />Kirim Data
        </basic-button>
      </template>
    </dialog-modal>

    <!-- Modal untuk menghapus kategori -->
    <confirmation-modal :show="modal.deleteQuestion" @close="toggleModal('deleteQuestion')">
      <template #title>Konfirmasi Menghapus Pertanyaan Debat</template>

      <template #content>
        <p>Apakah anda yakin untuk menghapus pertanyaan yang anda pilih?</p>
        <p>Setelah pertanyaan dihapus, semua riwayat sesi debat yang pernah menggunakan pertanyaan ini akan kehilangan isi pertanyaan.</p>
      </template>

      <template #footer>
        <basic-button color="green" @click.native="toggleModal('deleteQuestion')">
          <font-awesome-icon icon="times" class="mr-1" />Tidak Jadi
        </basic-button>
        <basic-button color="red" @click.native="doDeleteQuestion()">
          <font-awesome-icon icon="check" class="mr-1" />Iya Saya Yakin
        </basic-button>
      </template>
    </confirmation-modal>

    <!-- Modal konfirmasi apabila data belum di train namun ingin ganti kategori -->
    <confirmation-modal :show="tempOnDisplay.okay" @close="tempOnDisplay.okay = false">
      <template #title>Data Belum Diperbarui!</template>

      <template #content>
        <p>Apakah anda yakin untuk berganti kategori meskipun data belum diperbarui (Anda belum menekan tombol Selesai)?</p>
      </template>

      <template #footer>
        <basic-button color="green" @click.native="tempOnDisplay.okay = false">
          <font-awesome-icon icon="times" class="mr-1" />Tidak Jadi
        </basic-button>
        <basic-button color="red" @click.native="confirmDisplay()">
          <font-awesome-icon icon="check" class="mr-1" />Iya Saya Yakin
        </basic-button>
      </template>
    </confirmation-modal>

  </normal-layout>
</template>

<script>
import { maxLength, required } from 'vuelidate/lib/validators';
import NormalLayout from '@/components/Layouts/NormalLayout';
import BasicCard from '@/components/Cards/BasicCard';
import TitleCard from '@/components/Cards/TitleCard';
import OptionCard from '@/components/Cards/OptionCard';
import IconButton from '@/components/Buttons/IconButton';
import IconCard from '@/components/Cards/IconCard';
import BasicButton from '@/components/Buttons/BasicButton';
import Loading from '@/components/AxiosHandling/Loading';
import AxiosDisplayErrors from '@/components/AxiosHandling/AxiosDisplayErrors';
import CountCard from '@/components/Cards/CountCard';
import DialogModal from '@/components/Modal/DialogModal';
import ConfirmationModal from '@/components/Modal/ConfirmationModal';

export default {
  name: 'DebateDataset',
  title: 'Manajemen Kategori dan Pertanyaan Debat',
  components: {
    ConfirmationModal,
    DialogModal,
    CountCard,
    AxiosDisplayErrors,
    Loading,
    BasicButton,
    IconCard,
    IconButton,
    OptionCard,
    TitleCard,
    BasicCard,
    NormalLayout,
  },
  data() {
    return {
      categories: [],
      edited: false,
      languages: [
        {
          value: 'ID',
          text: '[ID] Bahasa Indonesia',
        },
        {
          value: 'EN',
          text: '[EN] English',
        },
      ],
      modal: {
        createCategory: false,
        editCategory: false,
        deleteCategory: false,
        createQuestion: false,
        editQuestion: false,
        deleteQuestion: false,
      },
      loading: {
        category: false,
        question: false,
      },
      fetchError: {
        errorMessage: {},
        display: false,
        message: '',
        type: '',
      },
      fetchSuccess: {
        message: '',
        display: false,
      },
      tempOnDisplay: {
        targetId: 0,
        okay: false,
      },
      onDisplay: {
        id: 0,
        category: '',
        language: '',
        questions: [
          {
            id: 0,
            question: '',
          },
        ],
      },
      createCategoryTarget: {
        category: '',
        language: null,
        questions: [],
      },
      editCategoryTarget: {
        id: 0,
        category: '',
        language: '',
      },
      deleteCategoryTarget: {
        id: 0,
        language: '',
        category: '',
      },
      createQuestionTarget: {
        question: 0,
      },
      editQuestionTarget: {
        id: 0,
        category: 0,
        question: 0,
      },
      deleteQuestionTarget: {
        id: 0,
        question: 0,
      },
    };
  },
  computed: {
    errorFetchCategory() {
      return !this.loading.category && this.fetchError.display && this.fetchError.type === 'firstFetch';
    },
    errorCheckInCreateCategory() {
      if (this.createCategoryTarget.questions.length < 10) return true;
      return this.$v.createCategoryTarget.$error;
    },
    createCategoryFeedback() {
      if (this.$v.createCategoryTarget.category.$dirty && !this.$v.createCategoryTarget.category.required) return 'Harap isi nama kategori';
      return '';
    },
    createCategoryLanguageFeedback() {
      if (this.$v.createCategoryTarget.language.$dirty && !this.$v.createCategoryTarget.language.required) return 'Harap isi bahasa yang digunakan';
      return '';
    },
    editCategoryFeedback() {
      if (this.$v.editCategoryTarget.category.$dirty && !this.$v.editCategoryTarget.category.required) return 'Harap isi nama kategori';
      return '';
    },
    editCategoryLanguageFeedback() {
      if (this.$v.editCategoryTarget.language.$dirty && !this.$v.editCategoryTarget.language.required) return 'Harap isi bahasa yang digunakan';
      return '';
    },
    createQuestionFeedback() {
      if (this.$v.createQuestionTarget.question.$dirty && !this.$v.createQuestionTarget.question.required) return 'Harap isi pertanyaannya';
      return '';
    },
    editQuestionFeedback() {
      if (this.$v.editQuestionTarget.question.$dirty && !this.$v.editQuestionTarget.question.required) return 'Harap isi pertanyaannya';
      return '';
    },
  },
  validations: {
    createCategoryTarget: {
      category: { required },
      language: {
        required,
        maxLength: maxLength(2),
      },
    },
    editCategoryTarget: {
      category: { required },
      language: {
        required,
        maxLength: maxLength(2),
      },
    },
    createQuestionTarget: {
      question: { required },
    },
    editQuestionTarget: {
      question: { required },
    },
  },
  methods: {
    async fetchAllCategories(partial = false) {
      this.loading.category = true;
      this.fetchError.display = false;
      this.categories = [];
      if (!partial) {
        this.onDisplay = {
          id: 0,
          category: '',
          questions: [
            {
              id: 0,
              question: '',
            },
          ],
        };
      }
      this.$nprogress.start();
      await this.$axios.get('/debote/categories/').then((res) => {
        this.$nprogress.done();
        this.categories = res.data;
        this.loading.category = false;
        if (partial) {
          for (let i = 0; i < this.categories.length; i += 1) {
            const temp = this.categories[i];
            if (this.onDisplay.id === temp.id) {
              this.onDisplay.questions = temp.questions;
              break;
            }
          }
        }
      }).catch((e) => {
        this.$nprogress.done();
        console.log(e);
        this.loading.category = false;
        this.fetchError = {
          message: 'Tidak bisa mendapatkan daftar kategori dari serve.',
          errorMessage: '?',
          display: true,
          type: 'firstFetch',
        };
      });
    },
    toggleModal(target) {
      switch (target) {
        case 'createCategory':
          this.modal.createCategory = !this.modal.createCategory;
          break;
        case 'editCategory':
          this.modal.editCategory = !this.modal.editCategory;
          break;
        case 'deleteCategory':
          this.modal.deleteCategory = !this.modal.deleteCategory;
          break;
        case 'createQuestion':
          this.modal.createQuestion = !this.modal.createQuestion;
          break;
        case 'editQuestion':
          this.modal.editQuestion = !this.modal.editQuestion;
          break;
        case 'deleteQuestion':
          this.modal.deleteQuestion = !this.modal.deleteQuestion;
          break;
        default:
          break;
      }
    },
    setOnDisplay(order) {
      if (this.edited) {
        this.tempOnDisplay.targetId = order;
        this.tempOnDisplay.okay = true;
      } else {
        this.loading.question = true;
        this.onDisplay = this.categories[order];
        this.loading.question = false;
      }
    },
    confirmDisplay() {
      this.edited = false;
      this.tempOnDisplay.okay = false;
      this.setOnDisplay(this.tempOnDisplay.targetId);
    },
    configureCreateCategory() {
      this.$v.createCategoryTarget.$reset();
      this.createCategoryTarget.category = '';
      this.createCategoryTarget.language = 'ID';
      this.createCategoryTarget.questions = [];
      this.toggleModal('createCategory');
    },
    addQuestionInNewCategory() {
      this.createCategoryTarget.questions.push({
        question: '',
      });
    },
    trainData(categoryId) {
      this.$nprogress.start();
      this.$axios.post('/debote/train/', {
        category_id: categoryId,
      }).then((res) => {
        this.$nprogress.done();
        this.edited = false;
        // eslint-disable-next-line eqeqeq
        if (res.data.message == 'Success') {
          this.fetchSuccess = {
            message: 'Data berhasil diperbarui!',
            display: true,
          };
        } else {
          console.log(res);
          this.fetchSuccess = {
            message: 'Mohon maaf ada kesalahan dalam melatih data! Silahkan coba lagi.',
            display: true,
          };
        }
      }).catch((e) => {
        this.$nprogress.done();
        this.fetchError = {
          message: 'Gagal dalam merubah kategori!',
          errorMessage: this.filterErrorMessage(e),
          display: true,
          type: 'editCategory',
        };
      });
    },
    deleteQuestionInNewCategory(index) {
      this.createCategoryTarget.questions.splice(index, 1);
    },
    doCreateCategory() {
      this.$v.createCategoryTarget.$touch();
      if (this.$v.createCategoryTarget.$error) return;

      this.modal.createCategory = false;
      this.$nprogress.start();

      this.$axios.post('/debote/categories/', {
        category: this.createCategoryTarget.category,
        language: this.createCategoryTarget.language,
      }).then((res) => {
        for (let i = 0; i < this.createCategoryTarget.questions.length; i += 1) {
          // Skip apabila pertanyaannya kosong
          if (this.createCategoryTarget.questions[i].question !== '') {
            const sendThis = {
              question: this.createCategoryTarget.questions[i].question,
              category: res.data.id,
            };
            this.$axios.post('/debote/questions/', sendThis).catch((e) => {
              this.$nprogress.done();
              this.fetchError = {
                message: `Gagal dalam menambahkan pertanyaan baru di Kategori ${res.data.category}!`,
                errorMessage: this.filterErrorMessage(e),
                display: true,
                type: 'createQuestion',
              };
            });
          }
        }
        this.$nprogress.done();
        this.fetchSuccess = {
          message: 'Kategori Berhasil Ditambahkan!',
          display: true,
        };
        this.fetchAllCategories();
      }).catch((e) => {
        this.$nprogress.done();
        this.fetchError = {
          message: 'Gagal dalam menambahkan kategori baru!',
          errorMessage: this.filterErrorMessage(e),
          display: true,
          type: 'createCategory',
        };
      });
    },
    configureEditCategory(target) {
      this.$v.editCategoryTarget.$reset();
      this.editCategoryTarget.id = target.id;
      this.editCategoryTarget.category = target.category;
      this.editCategoryTarget.language = target.language;
      this.toggleModal('editCategory');
    },
    doEditCategory() {
      this.$v.editCategoryTarget.$touch();
      if (this.$v.editCategoryTarget.$error) return;

      this.modal.editCategory = false;
      this.$nprogress.start();

      this.$axios.put(`/debote/categories/${this.editCategoryTarget.id}/`, {
        category: this.editCategoryTarget.category,
        language: this.editCategoryTarget.language,
      }).then(() => {
        this.edited = true;
        this.$nprogress.done();
        this.fetchSuccess = {
          message: 'Kategori Berhasil Dirubah!',
          display: true,
        };
        this.fetchAllCategories();
      }).catch((e) => {
        this.$nprogress.done();
        this.fetchError = {
          message: 'Gagal dalam merubah kategori!',
          errorMessage: this.filterErrorMessage(e),
          display: true,
          type: 'editCategory',
        };
      });
    },
    configureDeleteCategory(target) {
      this.deleteCategoryTarget.id = target.id;
      this.deleteCategoryTarget.category = target.category;
      this.toggleModal('deleteCategory');
    },
    doDeleteCategory() {
      this.modal.deleteCategory = false;
      this.$nprogress.start();

      this.$axios.delete(`/debote/categories/${this.deleteCategoryTarget.id}/`)
        .then(() => {
          this.$nprogress.done();
          this.fetchSuccess = {
            message: 'Kategori Berhasil Dihapus!',
            display: true,
          };
          this.fetchAllCategories();
        }).catch((e) => {
          this.$nprogress.done();
          this.fetchError = {
            message: 'Gagal dalam menghapus kategori!',
            errorMessage: this.filterErrorMessage(e),
            display: true,
            type: 'deleteCategory',
          };
        });
    },

    configureCreateQuestion() {
      this.$v.createQuestionTarget.$reset();
      this.createQuestionTarget.question = '';
      this.toggleModal('createQuestion');
    },
    doCreateQuestion() {
      // TODO: Implement this in backend
      this.$v.createQuestionTarget.$touch();
      if (this.$v.createQuestionTarget.$error) return;

      this.modal.createQuestion = false;
      this.$nprogress.start();

      this.$axios.post('/debote/questions/', {
        question: this.createQuestionTarget.question,
        category: this.onDisplay.id,
      }).then(() => {
        this.edited = true;
        this.$nprogress.done();
        this.fetchSuccess = {
          message: `Pertanyaan untuk Kategori ${this.onDisplay.category} Berhasil Ditambahkan!`,
          display: true,
        };
        this.fetchAllCategories(true);
      }).catch((e) => {
        this.$nprogress.done();
        this.fetchError = {
          message: `Gagal dalam menambahkan pertanyaan baru di Kategori ${this.onDisplay.category}!`,
          errorMessage: this.filterErrorMessage(e),
          display: true,
          type: 'createQuestion',
        };
      });
    },
    configureEditQuestion(target) {
      this.$v.editQuestionTarget.$reset();
      this.editQuestionTarget.id = target.id;
      this.editQuestionTarget.question = target.question;
      this.toggleModal('editQuestion');
    },
    doEditQuestion() {
      // TODO: Implement this in backend
      this.$v.editQuestionTarget.$touch();
      if (this.$v.editQuestionTarget.$error) return;

      this.modal.editQuestion = false;
      this.$nprogress.start();

      this.$axios.patch(`/debote/questions/${this.editQuestionTarget.id}/`, {
        question: this.editQuestionTarget.question,
      }).then(() => {
        this.edited = true;
        this.$nprogress.done();
        this.fetchSuccess = {
          message: `Pertanyaan di Kategori ${this.onDisplay.category} Berhasil Dirubah!`,
          display: true,
        };
        this.fetchAllCategories(true);
      }).catch((e) => {
        this.$nprogress.done();
        this.fetchError = {
          message: `Gagal dalam merubah pertanyaan di ${this.onDisplay.category}!`,
          errorMessage: this.filterErrorMessage(e),
          display: true,
          type: 'editQuestion',
        };
      });
    },
    configureDeleteQuestion(target) {
      this.deleteQuestionTarget.id = target.id;
      this.deleteQuestionTarget.question = target.name;
      this.toggleModal('deleteQuestion');
    },
    doDeleteQuestion() {
      this.modal.deleteQuestion = false;
      this.$nprogress.start();

      this.$axios.delete(`/debote/questions/${this.deleteQuestionTarget.id}/`)
        .then(() => {
          this.edited = true;
          this.$nprogress.done();
          this.fetchSuccess = {
            message: `Pertanyaan di Kategori ${this.onDisplay.category} Berhasil Dihapus!`,
            display: true,
          };
          this.fetchAllCategories(true);
        }).catch((e) => {
          this.$nprogress.done();
          this.fetchError = {
            message: `Gagal Menghapus Pertanyaan di Kategori ${this.onDisplay.category}!`,
            errorMessage: this.filterErrorMessage(e),
            display: true,
            type: 'deleteQuestion',
          };
        });
    },
  },
  created() {
    this.fetchAllCategories();
  },
};
</script>

<style scoped>

</style>
