<template>
  <normal-layout>
    <template #title>Manajemen Grup</template>
    <template #right-side>
      <div class="flex flex-wrap gap-2">
        <!-- Button for Edit Add Group Member -->
        <basic-button color="green">
          <font-awesome-icon icon="plus" class="mr-1"/>
          Tambah Grup Anda
        </basic-button>
      </div>
    </template>

    <div class="grid grid-cols-1 lg:grid-cols-4 gap-2">
      <div>
        <title-card icon="users">
          <template #title>Grup Anda</template>

          <option-card v-for="(group, i) in groups" :key="i" :color="group.id === onDisplay.id ? 'active' : 'normal'">
            <template #title>{{ group.name }}</template>
            <template #content>{{ group.users.length }} Anggota</template>
            <template #buttons>
              <icon-button color="green" icon="eye" @click.native="setOnDisplay(i)"/>
              <icon-button color="red" icon="sign-out-alt" @click.native="configureLeave(group.id)"/>
            </template>
          </option-card>
        </title-card>
      </div>

      <div class="lg:col-span-3">
        <!-- Notification if user not selected any group yet -->
        <icon-card v-if="onDisplay.id === 0" icon="exclamation-triangle" color="red" size="2x">
          Silahkan Pilih Salah Satu Grup dari Panel "Grup Anda".
        </icon-card>

        <!-- Card for displaying Group Detail -->
        <basic-card v-else>
          <!-- Group Name -->
          <div class="stretch-flex border-b border-gray-400 mb-2">
            <div>
              <p class="text-sm">Nama Grup:</p>
              <h2>{{ onDisplay.name }}</h2>
            </div>
            <div class="flex flex-wrap gap-2">
              <!-- Button for Edit Group Name -->
              <basic-button color="green" @click.native="configureEdit(onDisplay)">
                <font-awesome-icon icon="edit" class="mr-1"/>
                Edit
              </basic-button>

              <!-- Button for Edit Add Group Member -->
              <basic-button color="blue">
                <font-awesome-icon icon="user-plus" class="mr-1"/>
                Tambah Anggota
              </basic-button>

              <!-- Button for Current User Left this Group -->
              <basic-button color="red" @click.native="configureLeave(onDisplay.id)">
                <font-awesome-icon icon="sign-out-alt" class="mr-1"/>
                Keluar
              </basic-button>

              <!-- Button for Delete Group -->
              <basic-button color="red" @click.native="configureDelete(onDisplay.id)">
                <font-awesome-icon icon="trash-alt" class="mr-1"/>
                Hapus
              </basic-button>
            </div>
          </div>

          <!-- Group Member -->
          <p class="text-sm">Anggota Grup:</p>
          <p class="italic text-xs">Catatan: Anggota dengan gambar orang berwarna kuning merupakan <span
            class="text-yellow-500">Admin</span>, selain itu merupakan Peserta.</p>

          <div class="divide-grid mt-2">
            <!-- Card for every member -->
            <basic-card v-for="(user, i) in onDisplay.users" :key="i" color="sub">
              <div class="stretch-flex">
                <div>
                  <h3 class="font-semibold">{{ user.first_name }} {{ user.last_name }}</h3>
                  <p class="text-sm">{{ user.email }} ({{ user.username }})</p>
                </div>

                <div>
                  <!-- If user is not admin, display icon to delete -->
                  <icon-button color="red" icon="trash-alt" v-if="!isAdmin(user)"/>
                  <!-- If not, display admin icon -->
                  <font-awesome-icon icon="user-cog" class="mr-1 text-yellow-500" size="lg" fixed-width v-else/>
                </div>
              </div>
            </basic-card>
          </div>
        </basic-card>
      </div>
    </div>

    <!-- Modal for leaving group -->
    <confirmation-modal :show="modal.leave" @close="toggleModal('leave')">
      <template #title>
        Konfirmasi Meninggalkan Grup Ini
      </template>

      <template #content>
        <p>Apakah anda yakin untuk meninggalkan grup ini?</p>
        <p>Setelah anda keluar, anda tidak bisa memiliki akses ke semua anggota dan riwayat debat anggota grup ini. Namun anda masih bisa kembali masuk ke grup ini lagi di kemudian hari.</p>
      </template>

      <template #footer>
        <basic-button color="green" @click.native="toggleModal('leave')">
          <font-awesome-icon icon="times" class="mr-1" />Tidak Jadi
        </basic-button>
        <basic-button color="red" @click.native="doLeaveGroup()">
          <font-awesome-icon icon="check" class="mr-1" />Iya Saya Yakin
        </basic-button>
      </template>
    </confirmation-modal>

    <!-- Modal for rename group -->
    <dialog-modal :show="modal.edit" @close="toggleModal('edit')">
      <template #title>Merubah Nama Grup</template>
      <template #content>
        <t-input-group label="Nama Grup" :variant="{'danger' : $v.editTarget.name.$error}" @input="$v.editTarget.name.$touch()" :feedback="{'Nama grup tidak bolek kosong.' : $v.editTarget.name.$error}">
          <t-input v-model="editTarget.name" />
        </t-input-group>
      </template>

      <template #footer>
        <basic-button color="red" @click.native="toggleModal('edit')">
          <font-awesome-icon icon="times" class="mr-1" />Tidak Jadi
        </basic-button>
        <basic-button color="green" @click.native="doEditGroup()">
          <font-awesome-icon icon="check" class="mr-1" />Perbarui Nama
        </basic-button>
      </template>
    </dialog-modal>

    <!-- Modal for deleting group -->
    <confirmation-modal :show="modal.delete" @close="toggleModal('delete')">
      <template #title>
        Konfirmasi Menghapus Grup Ini
      </template>

      <template #content>
        <p>Apakah anda yakin untuk menghapus grup ini?</p>
        <p>Setelah grup berhasil dihapus, semua anggota akan kehilangan akses dari grup ini.</p>
      </template>

      <template #footer>
        <basic-button color="green" @click.native="toggleModal('delete')">
          <font-awesome-icon icon="times" class="mr-1" />Tidak Jadi
        </basic-button>
        <basic-button color="red" @click.native="doDeleteGroup()">
          <font-awesome-icon icon="check" class="mr-1" />Iya Saya Yakin
        </basic-button>
      </template>
    </confirmation-modal>
  </normal-layout>
</template>

<script>
import { required } from 'vuelidate/lib/validators';
import NormalLayout from '@/components/Layouts/NormalLayout';
import BasicButton from '@/components/Buttons/BasicButton';
import BasicCard from '@/components/Cards/BasicCard';
import IconButton from '@/components/Buttons/IconButton';
import ConfirmationModal from '@/components/Modal/ConfirmationModal';
import TitleCard from '@/components/Cards/TitleCard';
import OptionCard from '@/components/Cards/OptionCard';
import IconCard from '@/components/Cards/IconCard';
import DialogModal from '@/components/Modal/DialogModal';

export default {
  name: 'UserGroup',
  components: {
    DialogModal,
    IconCard,
    OptionCard,
    TitleCard,
    ConfirmationModal,
    IconButton,
    BasicCard,
    BasicButton,
    NormalLayout,
  },
  data() {
    return {
      modal: {
        edit: false,
        leave: false,
        delete: false,
        add: false,
      },
      leaveTarget: {
        group_id: 0,
        user_id: this.$store.state.loggedUser.id,
      },
      editTarget: {
        id: 0,
        name: '',
      },
      deleteTarget: {
        id: 0,
      },
      onDisplay: {
        id: 0,
      },
      groups: [
        {
          id: 1,
          name: 'PENS',
          users: [
            {
              id: 1,
              first_name: 'User',
              last_name: '1',
              username: 'user1',
              email: 'user1@email.com',
              is_staff: false,
            },
            {
              id: 2,
              first_name: 'User',
              last_name: '2',
              username: 'user1',
              email: 'user1@email.com',
              is_staff: true,
            },
          ],
        },
      ],
    };
  },
  validations: {
    editTarget: {
      name: { required },
    },
  },
  methods: {
    isAdmin(user) {
      return user.is_staff;
    },
    setOnDisplay(order) {
      this.onDisplay = this.groups[order];
    },
    toggleModal(target) {
      switch (target) {
        case 'add':
          this.modal.add = !this.modal.add;
          break;
        case 'delete':
          this.modal.delete = !this.modal.delete;
          break;
        case 'edit':
          this.modal.edit = !this.modal.edit;
          break;
        case 'leave':
          this.modal.leave = !this.modal.leave;
          break;
        default:
          break;
      }
    },
    configureLeave(target) {
      this.leaveTarget.group_id = target;
      this.toggleModal('leave');
    },
    doLeaveGroup() {
      // TODO: Implement this in backend
      console.log(this.leaveTarget);
    },
    configureEdit(target) {
      this.editTarget = {
        id: target.id,
        name: target.name,
      };
      this.toggleModal('edit');
    },
    doEditGroup() {
      // TODO: Implement this in backend
      console.log(this.editTarget);
    },
    configureDelete(target) {
      this.deleteTarget.id = target;
      this.toggleModal('delete');
    },
    doDeleteGroup() {
      // TODO: Implement this in backend
      console.log(this.deleteTarget);
    },
  },
};
</script>

<style scoped>

</style>
